<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77694f3f-53b7-4b63-af64-7a5f1e693e97" Alias="articlesItem" Level="1">
  <Info>
    <Name>Articles Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ArticlesItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1ce5fb50-d8b2-47ba-9f9f-9599179bf91f">ArticlesItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="77694f3f-53b7-4b63-af64-7a5f1e693e97" SortOrder="0">articlesItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>436a5e1c-9a65-4c10-a26e-438bfcd8d338</Key>
      <Name>Article Content</Name>
      <Alias>articleContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4b4ce0d9-8772-4fec-9e49-9396f0e24fc1</Key>
      <Name>Article Title</Name>
      <Alias>articleTitle</Alias>
      <Definition>178605d6-5af2-4788-b75b-4f6586ce8385</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bda91dda-30d0-4ae1-874a-bd9391661813</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>