<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d9007b23-0d3b-41a6-b8c9-163d03999e98" Alias="articlesMain" Level="1">
  <Info>
    <Name>Articles Main.</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ArticlesMain</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="435c04a5-2da5-4dec-bdd4-39cdf4e8f239">ArticlesMain</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d9007b23-0d3b-41a6-b8c9-163d03999e98" SortOrder="0">articlesMain</ContentType>
    <ContentType Key="77694f3f-53b7-4b63-af64-7a5f1e693e97" SortOrder="1">articlesItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c21a7d1a-b4b6-4f0b-81b9-bdf66eac4257</Key>
      <Name>Articles Body Text</Name>
      <Alias>articlesBodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="intro">Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93f861ef-2bf2-42d9-94e7-707e4c7ad487</Key>
      <Name>Articles Title</Name>
      <Alias>articlesTitle</Alias>
      <Definition>a8a90d50-dfa5-4dcf-bdc3-30e425b284a5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="intro">Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7f9946fd-9f3d-4148-aa95-d38cfd09e754</Key>
      <Caption>Intro</Caption>
      <Alias>intro</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>