<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ecad2102-476d-4cbf-847f-d62456a8e487" Alias="branch" Level="1">
  <Info>
    <Name>Branch</Name>
    <Icon>icon-umbrella color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Branch</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="73a8be15-c019-4ab5-ade4-f2593b88f2ac">Branch</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7037632a-f9df-4646-b566-396dad95b827</Key>
      <Name>Branch_Address</Name>
      <Alias>branch_Address</Alias>
      <Definition>fc1475d2-7c7b-4b2f-bc53-54c86fd43d6c</Definition>
      <Type>Bergmania.OpenStreetMap</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="branchAddress">Branch_Address</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>339f99a6-7f0e-498b-99fa-1c3f050d8f79</Key>
      <Name>Branch_Mail</Name>
      <Alias>branch_Mail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="branchMail">Branch_Mail</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf89cc83-7e5a-4a75-a2f3-115a539baf9a</Key>
      <Name>Branch_Name</Name>
      <Alias>branch_Name</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="branchName">Branch_Name</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>406ab3d3-05ef-468a-9615-facc9e3f42cd</Key>
      <Name>Branch_Phone</Name>
      <Alias>branch_Phone</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="branchPhone">Branch_Phone</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6028f8f6-afbc-4f38-b775-a2cb4064d279</Key>
      <Name>DescribtionBranch</Name>
      <Alias>describtionBranch</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="branchsSEO">BranchsSEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ead1b286-06c1-4e0e-80e4-b079e62e65e5</Key>
      <Name>TitleBranch</Name>
      <Alias>titleBranch</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="titleBranch">TitleBranch</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>850995af-bb0a-405b-9677-29909c8e728a</Key>
      <Name>Title Branchs SEO</Name>
      <Alias>titleBranchsSEO</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="branchsSEO">BranchsSEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4efc0907-d82d-48bb-b043-c3ae69d7580d</Key>
      <Caption>Branch_Phone</Caption>
      <Alias>branchPhone</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>aeb19810-f33c-4052-8d78-d29c0f8bd99c</Key>
      <Caption>TitleBranch</Caption>
      <Alias>titleBranch</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>b8fb9422-83fc-464a-9e3c-e2d64e9e6dcf</Key>
      <Caption>Branch_Name</Caption>
      <Alias>branchName</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d174f623-5ecc-4626-8e23-c4ebe5440509</Key>
      <Caption>Branch_Mail</Caption>
      <Alias>branchMail</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>d520c476-635f-4e7b-a66f-1b036ff282b9</Key>
      <Caption>Branch_Address</Caption>
      <Alias>branchAddress</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e789ff66-ad37-4b31-9d14-9f7f73ca3215</Key>
      <Caption>BranchsSEO</Caption>
      <Alias>branchsSEO</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>