<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc693404-af93-48ef-a6bc-b1e21cb9e12a" Alias="checkRequirements" Level="1">
  <Info>
    <Name>Check requirements</Name>
    <Icon>icon-brush color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>CheckRequirements</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b2095c91-e7d1-49d8-a193-ec3d15569bce">CheckRequirements</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c2bc692f-1e0b-472c-a7d8-5354815fc460" SortOrder="0">addCountry</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>43fa132f-8b0e-4b26-b7d3-738d4f055d96</Key>
      <Name>Alt ImageCheck requirements</Name>
      <Alias>altImageCheckRequirements</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="checkRequirements">Check requirements</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>858d77b1-694e-4f65-9b73-b26fb86cb6dd</Key>
      <Name>Describtion Check Requirements SEO</Name>
      <Alias>describtionCheckRequirementsSEO</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="checkRequirementsSEO">Check Requirements SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c17e30ed-49ea-4d64-a881-779d6507176b</Key>
      <Name>Image Check requirements</Name>
      <Alias>imageCheckRequirements</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="checkRequirements">Check requirements</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7fe2d78f-9a83-499e-9128-d71ffe6dbe20</Key>
      <Name>Title Check requirements</Name>
      <Alias>titleCheckRequirements</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="checkRequirements">Check requirements</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6c9ca77-06ff-493e-9c32-a3387ea4c443</Key>
      <Name>Title Check Requirements SEO</Name>
      <Alias>titleCheckRequirementsSEO</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="checkRequirementsSEO">Check Requirements SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4e931e38-7ad5-4317-9bdb-56663a2e24e1</Key>
      <Name>Title Image Check requirements</Name>
      <Alias>titleImageCheckRequirements</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="checkRequirements">Check requirements</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ff6734f-0c2b-47ff-a990-b6c17dda0cd1</Key>
      <Name>VisaTitle Check requirements</Name>
      <Alias>visaTitleCheckRequirements</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="checkRequirements">Check requirements</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0f245ca2-6c5f-4997-9e0e-29b99356259d</Key>
      <Caption>Check Requirements SEO</Caption>
      <Alias>checkRequirementsSEO</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b84165d2-788b-43b7-b013-674f711aba33</Key>
      <Caption>Check requirements</Caption>
      <Alias>checkRequirements</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>