<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da359747-2a8d-4a9e-a4ca-93d2e1f1e57f" Alias="homeTestimonials" Level="1">
  <Info>
    <Name>Home Testimonials</Name>
    <Icon>icon-brush color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomeTestimonials</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6c7bb161-ed57-425c-b43b-36710ffa82d9">HomeTestimonials</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>afe2c470-cda4-45b7-8ae1-858546619b78</Key>
      <Name>DescribtionTestimonials&amp;TopRequested</Name>
      <Alias>describtionTestimonialsTopRequested</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="testimonialsTopRequestedSEO">Testimonials&amp;TopRequestedSEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3deb86b4-a8ac-4972-b644-0cbc8ecb46a2</Key>
      <Name>TestimonialsHome Text</Name>
      <Alias>testimonialsHomeText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>01c56f42-9477-4bce-9f3d-4ee0c29ded79</Key>
      <Name>TestimonialsHome Title</Name>
      <Alias>testimonialsHomeTitle</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="title">Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bad06750-7e16-4a58-aee4-8a52be3bd958</Key>
      <Name>TitleTestimonials&amp;TopReques</Name>
      <Alias>titleTestimonialsTopReques</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="testimonialsTopRequestedSEO">Testimonials&amp;TopRequestedSEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3791dfb0-41b9-4d70-8cb0-ed5456211776</Key>
      <Name>TopRequestedTitle</Name>
      <Alias>topRequestedTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4319cf19-822d-4469-961c-22557b984410</Key>
      <Caption>Title</Caption>
      <Alias>title</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>7038ccda-3073-4784-b48a-524abe7dfd09</Key>
      <Caption>Text</Caption>
      <Alias>text</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>eefc3fc4-cdf0-44d0-9618-67d7bec640f1</Key>
      <Caption>Testimonials&amp;TopRequestedSEO</Caption>
      <Alias>testimonialsTopRequestedSEO</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>