<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d3544f3-7f1a-407e-838c-bd87683c0db5" Alias="mainCategory" Level="1">
  <Info>
    <Name>MainCategory</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MainCategory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="951017fb-dff2-4a24-9206-7cc00031be5a">MainCategory</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="752230cd-fc00-441e-85e5-a8efbcccdc84" SortOrder="0">blogpost</ContentType>
    <ContentType Key="ddf2dff9-5036-4770-aaf5-9a5ea8a45295" SortOrder="1">subArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>75c61778-0637-4818-a2a9-a093469ee100</Key>
      <Name>DescribtionSEOMainCategory</Name>
      <Alias>describtionSEOMainCategory</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seoMainCategory">SEOMainCategory</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>003a9c2b-feea-42b3-9a07-b0726588d690</Key>
      <Name>HeaderMainCategory</Name>
      <Alias>headerMainCategory</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bdeda7be-e566-44c2-8288-456435c6ade1</Key>
      <Name>ImageMainCategory</Name>
      <Alias>imageMainCategory</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b92fc323-d6fd-4642-81d1-3761f33595f4</Key>
      <Name>TitleSEOMainCategory</Name>
      <Alias>titleSEOMainCategory</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seoMainCategory">SEOMainCategory</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5bc2f53d-acb3-4145-a360-8dd82072bc60</Key>
      <Caption>SEOMainCategory</Caption>
      <Alias>seoMainCategory</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>aae38de0-40ca-4e3a-bc1e-b6ea1f7fa52a</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>