<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="032f449d-0ed7-4ce0-b20c-9b6ef6b23daf" Alias="supCategorys" Level="1">
  <Info>
    <Name>SupCategorys</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SupCategorys</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="49c61da6-3139-4382-96d6-80163b0bd60d">SupCategorys</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a90d93f5-fc06-481a-9b94-8d4a06cda4f8" SortOrder="0">subCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>