<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ac9f680-ec74-453b-95b4-e848eef57938" Alias="tags" Level="1">
  <Info>
    <Name>Tags</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Tags</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eccb203c-887b-4c9d-8ee0-34a6b648ccf4">Tags</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7f04365a-9ffa-41ae-b8bf-5fe2fa6f2eff" SortOrder="0">tag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>