<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af6e5fe2-d746-45b2-8d38-d6e2f2748e17" Alias="visaAppData" Level="1">
  <Info>
    <Name>Visa App Data</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c6368841-0a9c-44ff-92c6-6dda37465d9f" SortOrder="0">visaAppDetails</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>