<?xml version="1.0" encoding="utf-8"?>
<DataType Key="178605d6-5af2-4788-b75b-4f6586ce8385" Alias="Articles Item - Article Title - Textbox" Level="1">
  <Info>
    <Name>Articles Item - Article Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>