<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0039b245-7f1e-423d-9053-460b3a2fe204" Alias="AuthorName" Level="1">
  <Info>
    <Name>AuthorName</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": "umb://document/e8ad9b65cff64952ac5befe56a60db62"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>