<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e704133b-280a-4492-a740-018b6dd30e4f" Alias="Blogpost - Describtion - [Contentment] Text Input" Level="1">
  <Info>
    <Name>Blogpost - Describtion - [Contentment] Text Input</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>