<?xml version="1.0" encoding="utf-8"?>
<DataType Key="676a7f8d-e5f6-497b-a98e-68de3ab3743b" Alias="HomeAndArtical" Level="1">
  <Info>
    <Name>HomeAndArtical</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Home"
    },
    {
      "id": 2,
      "value": "Artical"
    }
  ]
}]]></Config>
</DataType>