<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a89bc58-f4c3-4690-976b-fb894cc061c8" Alias="MultinodeTreePicker - Article" Level="1">
  <Info>
    <Name>MultinodeTreePicker - Article</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "subArticle",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>