<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0a9c873-ca9a-459a-b2e7-dcdfad5f8d29" Alias="NameTag" Level="1">
  <Info>
    <Name>NameTag</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": "umb://document/af5dc918363949d88fc4042f6c3da034"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": [
          {}
        ]
      }
    }
  ]
}]]></Config>
</DataType>