<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1400c6a3-205b-4c5c-a53e-dd0ed4f5f259" Alias="Nested content - Testimonials section" Level="2">
  <Info>
    <Name>Nested content - Testimonials section</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{testimonialName}}",
      "ncAlias": "testimonialsSection",
      "ncTabAlias": "Testimonials section"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>