<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01594257-aa0a-4e29-9044-f54e46829613" Alias="Nested Content - Services" Level="2">
  <Info>
    <Name>Nested Content - Services</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "services",
      "ncTabAlias": "Services"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>