<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5aeb3a83-6fd0-43a7-a5b7-4d134091e910" Alias="Nested Content - Top Requested Countries" Level="2">
  <Info>
    <Name>Nested Content - Top Requested Countries</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{countryName}}",
      "ncAlias": "topRequestedCountries",
      "ncTabAlias": "Top Requested Countries"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>