<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7bef0d65-664a-4a4d-a7bd-fde54a5fd8ea" Alias="Nested content - VisaRequirmentData" Level="2">
  <Info>
    <Name>Nested content - VisaRequirmentData</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{applicantName}}",
      "ncAlias": "visaRequirmentData",
      "ncTabAlias": "VisaRequirmentData"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>