<?xml version="1.0" encoding="utf-8"?>
<DataType Key="112a8511-536a-476f-ac2a-ea75b38da247" Alias="Nested Content - Add Services" Level="2">
  <Info>
    <Name>Nested Content - Add Services</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{serviceName}}",
      "ncAlias": "addServices",
      "ncTabAlias": "Add Services"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>