<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da792d81-00d0-4447-9ae1-f53786ded93c" Alias="Nested Content - Services section" Level="2">
  <Info>
    <Name>Nested Content - Services section</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "servicesSection",
      "ncTabAlias": "Services section"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>