<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc3b11f6-6007-4252-af5a-33c1313743df" Alias="SubArticle - DateArticlePost - DateTime" Level="1">
  <Info>
    <Name>SubArticle - DateArticlePost - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>