.header-about
{
    background: url(../images/new/about/header.png) !important;
    background-size: cover !important;
}

.about-box .data{
    background: #EEEEEE;
    padding-top: 30px;
   

}
.about-box .row{
    background-image: url(../images/new/about/about_merged2.png) ;
   
}


.about-box h4{font-size: 25px;color: #B22D34;}
.about-box p
{
    color: #111;
    font-size: 18px;
    font-weight: 700;
    text-align: justify;
}

.sec-title h2 {
    font-size: 40px;
}

.sec-title  {
padding-bottom: 0rem !important;
}