.header-about
{
    background: url(../images/new/7.png) !important;
    background-size: cover !important;
}


.title-desc-blog{font-size: 40px !important;color: #fff;     text-align: center;
}
.title-desc-blog span{display: block !important;margin-bottom: 10px;}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.about-box .data{
   
    padding-top: 30px;
    background-image: url(../images/new/bg-service.webp);
    background-color: #3a90a2d9;


}
.about-box .row{
    background-image: url(../images/new/contact/new_map.png) ;
    background-repeat: no-repeat;

}


.about-box h4{font-size: 25px;color: #B22D34;}
.about-box p
{
    font-size: 18px;
    font-family: 'Khmer MN';
    color: #333333;
}

.sec-title h2 {
    font-size: 40px;
}

.sec-title  {
padding-bottom: 0rem !important;
}


:root {
    --circle-size: clamp(1.5rem, 5vw, 3rem);
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
    --green-circle-size: clamp(4.5rem, 5vw, 3rem);
}
  
  
  .c-stepper__item {
    position: relative;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    align-items: center;
  }
  .c-stepper__item:before {
    content: "1";
    flex: 0 0 var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    background-color: #b3532c;
    color: white;
    padding-top: 0.5%;
    margin-right: 1.5%;

  }
  .c-stepper__item:not(:last-child):after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(var(--circle-size) + var(--spacing));
    bottom: var(--spacing);
    z-index: 2;
    transform: translate(calc(var(--circle-size) / 2),45px);
    width: 2px;
    background-color: #e0e0e0;
  }
  
  .c-stepper__title {
    font-weight: bold;
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-bottom: clamp(0.85rem, 2vmax, 1rem);
  }
  
  .c-stepper__desc {
    color: grey;
    font-size: clamp(0.85rem, 2vmax, 1rem);
  }
  
  .c-stepper__content {
    max-width: 854px;
    border: 1px solid #b3532c;
    border-radius: 12px;
    background-color: white;
    text-align:start ;
    width: 100%;
    padding: 2%;
  }
  .c-stepper__content::before{
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #b3532c;
    position: absolute;
    top: 60px;
    left: 64px;
    transform: rotatey(180deg);
    
  }
  .green{
    border: 1px solid #6DBC92;

  }
  .green::before{
    border-left: 10px solid #6DBC92;
    top: 58px;
    left: 64px;
  
  }
  .green>h4{
    color: #6DBC92 !important;
    font-size: 26px !important;
 
  }

  .green_circle::before{
    background-color: #6DBC92;
    flex: 0 0 var(--green-circle-size);
    height: var(--green-circle-size);
    font-size: 40px;
    padding-top: 1%;
    margin-left: -1%;
    margin-right: 0%  !important;
  }

  .green_circle::after{
    margin-top: 20px !important;
  }
  .c-stepper__content>h4 {

   font-size: 22px;
    color: #b3532c;
    text-decoration-line: underline;
  }
  /*** Non-demo CSS ***/
  .wrapper {
    max-width: 900px;
    margin: 2rem auto 0;
  }
 
  


  .one::before{
    content: '1';
  }
  .two::before{
    content: '2';
  }
  .three::before{
    content: '3';
  }
  .four::before{
    content: '4';
  }
  .five::before{
    content: '5';
  }
  .six::before{
    content: '6';
  }


  @media only screen and (max-width: 987px) {
    .c-stepper__item:before {
    font-size: 27px;
    background-color: #eeeeee;
    color: #b3532c;
    transform: translate(110px,14px);
    padding-top: .8% !important;
    }
    .about-box p{
        text-align: center;
        font-size: 16px;
    }
    .c-stepper__content>h4{
      font-size: 20px;
        color: #b3532c;
      /*   text-align: center; */
        padding-top: 1%;
        padding-left: 11%;
    }
    .c-stepper__content::before {
        display: none;
    }
    .c-stepper__item:not(:last-child):after {
        display: none;
    }
    .green_circle::before {
       flex: 0 0 var(--circle-size);
        height: var(--circle-size);
    }
    .green_circle::before {
     margin-left: 0% !important; 
     margin-right: 1.5% !important;

     color: #6DBC92;
    }
    .c-stepper__item {
        gap: 0rem !important;
        align-items: flex-start !important;
    }
    
} 
@media only screen and (max-width:905px){
  .c-stepper__content>h4{
    font-size: 20px;
      color: #b3532c;
      padding-top: 1%;
      padding-left: 13% !important;
  }
}
@media only screen and (max-width:820px){
  .c-stepper__content>h4{
    font-size: 20px;
      color: #b3532c;
      padding-top: 1%;
      padding-left: 15% !important;
  }
}
@media only screen and (max-width:769px){
  .c-stepper__content>h4{
    font-size: 20px;
      color: #b3532c;
      padding-top: 1%;
      padding-left: 10% !important;
  }
}
@media only screen and (max-width: 756px) {
  .c-stepper__item:before {
    padding: 0.5% !important;
    transform: translate(67px,14px) !important;
  }
  .green_circle::before {
    padding: 0.5% !important;
  }
}
@media only screen and (max-width: 660px) {
  .c-stepper__item:before {
    padding: 0% !important;
  }
  .green_circle::before {
    padding: 0% !important;
  }
  .c-stepper__content>h4{
    font-size: 20px;
      color: #b3532c;
      
    padding-top: 2%;

      padding-left: 13% !important;
  }
}
@media only screen and (max-width: 510px) {

 
.c-stepper__item:before {

  transform: translate(38px,14px) !important;
  font-size: 20px;
}

.green>h4 {
  color: #6DBC92 !important;
  font-size: 19px !important;
}


}
/* ol{
  padding: 0 !important;
  margin-left: -25px !important
}
 */
@media only screen and (max-width: 400px) {

  .c-stepper__content>h4{
    font-size: 20px;
      color: #b3532c;
      
    padding-top: 4%;

      padding-left: 13% !important;
  }
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
.shop-tracking-status .form-horizontal {
  margin-bottom: 50px
}

.shop-tracking-status .order-status {
  margin-top: 100px;
  position: relative;
  margin-bottom: 100px
}

.shop-tracking-status .order-status-timeline {
  height: 12px;
  border: 1px solid #aaa;
  border-radius: 7px;
  background: #eee;
  box-shadow: 0px 0px 5px 0px #C2C2C2 inset
}

.shop-tracking-status .order-status-timeline .order-status-timeline-completion {
  height: 8px;
  margin: 1px;
  border-radius: 7px;
  background: #cf7400;
  width: 0px
}

.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c1 {
  width: 10%
}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c1::after{
  font-family: "Font Awesome 5 Free";
  /* content: "\f072"; */
  padding-right: -31px;
  font-weight: 900;
  left: 8%;
  position: absolute;
  top: -31px;
  color: #cf7400;
  font-size: 50px;
}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c2 {
  width: 41%
}
@media only screen and (max-width:690px){
  .shop-tracking-status .order-status-timeline .order-status-timeline-completion.c2 {
    width: 51%
  }
}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c2::after{
  font-family: "Font Awesome 5 Free";
  /* content: "\f072"; */
  padding-right: -31px;
  font-weight: 900;
  left: 28%;
  position: absolute;
  top: -31px;
  color: #cf7400;
  font-size: 50px;
}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c3 {
  width: 50%
}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c3::after{
  font-family: "Font Awesome 5 Free";
  /* content: "\f072"; */
  padding-right: -31px;
  font-weight: 900;
  left: 48%;
  position: absolute;
  top: -31px;
  color: #cf7400;
  font-size: 50px;
}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c4 {
  width: 70%
}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c4::after{
  font-family: "Font Awesome 5 Free";
  /* content: "\f072"; */
  padding-right: -31px;
  font-weight: 900;
  left: 68%;
  position: absolute;
  top: -31px;
  color: #cf7400;
  font-size: 50px;
}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c5 {
  width: 90%
}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c5::after{
  font-family: "Font Awesome 5 Free";
  /* content: "\f072"; */
  padding-right: -31px;
  font-weight: 900;
  left: 88%;
  position: absolute;
  top: -31px;
  color: #cf7400;
  font-size: 50px;
}
.shop-tracking-status .image-order-status {
  border: 1px solid #ddd;
/*   box-shadow: 0px 0px 10px 0px #999; */
  background-color: #cf7400;
  position: absolute;
  margin-top: -24px;
  border-radius: 50%;
}

.shop-tracking-status .image-order-status.disabled {
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}



.shop-tracking-status .image-order-status.active .status {

  color: #cf7400;

}

.shop-tracking-status .image-order-status .icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: no-repeat;
 
}

.shop-tracking-status .image-order-status .status {
  position: absolute;
  color: #333;
  top: -30px;
  white-space: nowrap;
  font-family: 'Khmer MN';
  font-weight: 600;
  font-size: 18px;
}

.shop-tracking-status .order-status .image-order-status:nth-child(3) .status,
.shop-tracking-status .order-status .image-order-status:nth-child(5) .status,
.shop-tracking-status .order-status .image-order-status:nth-child(7) .status {
  top: auto;
  bottom: -30px;
}
@media only screen and (max-width:690px){
  .shop-tracking-status .order-status .image-order-status:nth-child(3) .status,
  .shop-tracking-status .order-status .image-order-status:nth-child(5) .status,
  .shop-tracking-status .order-status .image-order-status:nth-child(7) .status {
    top: -30px !important;
    bottom: auto !important;
  }
}
.shop-tracking-status .image-order-status:last-child .status
{
  left: -180px;
}

.shop-tracking-status .order-status .image-order-status:nth-child(2) {
  left: 0;
}

.shop-tracking-status .order-status .image-order-status:nth-child(3) {
  left: 20%;
}

.shop-tracking-status .order-status .image-order-status:nth-child(4) {
  left: 40%;
}

.shop-tracking-status .order-status .image-order-status:nth-child(5) {
  left: 60%;
}


.shop-tracking-status .order-status .image-order-status:nth-child(6) {
  left: 80%;
}

.shop-tracking-status .order-status .image-order-status:nth-child(7) {
  right: 0;
}
@media only screen and (max-width:690px){
  .shop-tracking-status .order-status .image-order-status:nth-child(2) {
    left: 0;
  }  
  .shop-tracking-status .order-status .image-order-status:nth-child(3) {
    left: 50%;
  }
  .shop-tracking-status .order-status .image-order-status:nth-child(4) {
    right: 0;
    left: auto;
  }
}
.shop-tracking-status .image-order-status-Submitted .status:before {
  display: none
}



.shop-tracking-status .image-order-status-completed {
  right: 0px
}

/* .shop-tracking-status .image-order-status-completed .icon {
}
 */

.shop-tracking-status .image-order-status-completed .status:before {
  display: none
}



.track_icon{
  position: relative;
  bottom: -0.62em;
  float: left;
  left: 80%;
  transform: rotate(45deg);
  font-size: 50px;
  color: #b3532c;
}
.title_of_tracking{
  text-align: center;
  text-transform:none;
  color: #333333;
  font-size: 2rem;
}
.title_of_tracking::after{
  content: "";
  width: 240px;
  height: 3px;
  margin: 0px auto;
  display: block;
  background: #cf7400;
  border-radius: 20px;
}
.shop-tracking-status .image-order-status .status.even_num {left: -20px;}
@media only screen and (max-width:1220px){
  .shop-tracking-status .image-order-status .status{
    white-space: break-spaces;
    top: -56px;
  }

  .shop-tracking-status .image-order-status .status.even_num {bottom: -50px; top: auto;}
}
@media only screen and (max-width:690px){
  .shop-tracking-status .order-status-timeline .order-status-timeline-completion.c2::after{
    font-size: 35px;
    top: -20px;

  }
.shop-tracking-status .image-order-status:last-child .status
{
  left: -80px;
}
  .shop-tracking-status .image-order-status{
    margin-top: -18px;

  }
  .shop-tracking-status .image-order-status .icon{
    height: 20px;
    width: 20px;
  }
}
@media only screen and (max-width:580px){
  .shop-tracking-status .order-status-timeline .order-status-timeline-completion.c2::after{
    font-size: 24px;
    top: -12.5px;

  }
  .shop-tracking-status .image-order-status{
    margin-top: -13px;

  }
  .shop-tracking-status .image-order-status .icon{
    height: 15px;
    width: 15px;
  }
  .shop-tracking-status .order-status-timeline{
    height: 9px;
  }
  .shop-tracking-status .order-status-timeline .order-status-timeline-completion{
    height: 7px;
    margin: 0px;
  }
  .shop-tracking-status .image-order-status .status{
    width: fit-content;
    font-size: 14px;
    /* transform: rotateZ(270deg); */
  }
 /*  .shop-tracking-status .image-order-status .status-msg{
    left: -45px !important;
    top: -98px !important;
  } */
.hide_div{
  display: none;
}

}
@media only screen and (max-width:400px){

  .shop-tracking-status .image-order-status .status{
    width: fit-content;
    font-size: 10px;


  }
  .shop-tracking-status .image-order-status .status {
    white-space: break-spaces;
    top: -35px;
 }

.even_num{
  top: 30px !important;
  left: -5px !important;

}
/*  .shop-tracking-status .image-order-status .status-msg {
  left: -36px !important;
  top: -67px !important;
} */
}