.header-contact
{
    background: url(../images/new/contact/header.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
}

.about-box
{
    border: 3px solid #B22D34;
    margin: 50px 90px;
}
.about-box .data{background: #fff;padding-top: 30px;}


.about-box h4{font-size: 22px;color: #B22D34;}
.about-box p{color: #111;}

.contact-us form input, .contact-us form label{color: #B22D34;font-size: 20px;font-weight: bolder;}

.contact-us form input, .contact-us form textarea
{
    border: 2px solid #B22D34;
    border-radius: 10px;
    background: #DDDDDD;
}

.contact-from-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100%;
}
.contact-from-image img {max-width: 100%;}
#submit-contact
{
    background: #B22D34 !important;
    border-radius: 10px;
    border-color: #B22D34;
    padding: 10px 40px;
}
.select2-container .select2-selection--single
{
    border: 2px solid #B22D34;
    border-radius: 10px !important;
    background: #DDDDDD !important;
}