<?xml version="1.0" encoding="utf-8"?>
<Media Key="52f21abc-73c1-409f-9957-11372f90db4e" Alias="1Bfde944 476A 433B 99E4 5Bccff58a956 1 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Bfde944476A433B99E45Bccff58a95611</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-12T08:55:16</CreateDate>
    <NodeName Default="1Bfde944 476A 433B 99E4 5Bccff58a956 1 1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xinpeuwb/1bfde944-476a-433b-99e4-5bccff58a956-1-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>