<?xml version="1.0" encoding="utf-8"?>
<Media Key="21923abc-d41b-4903-85bf-4e960bc6d817" Alias="Banner 01 Arabic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner01Arabic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-30T19:40:48</CreateDate>
    <NodeName Default="Banner 01 Arabic" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xi3jeii1/banner-01-arabic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>