<?xml version="1.0" encoding="utf-8"?>
<Media Key="18018636-8f3b-4f91-97ba-210ac3c87d58" Alias="Banner 02 Arabic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner02Arabic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-30T19:25:23</CreateDate>
    <NodeName Default="Banner 02 Arabic" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gcdacgb1/banner-02-arabic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>