<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c13a91a-59bc-4af0-a631-4e02ff704526" Alias="Beijing Opera 1160109 1920" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BeijingOpera11601091920</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-12T11:27:08</CreateDate>
    <NodeName Default="Beijing Opera 1160109 1920" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dsubgtf2/beijing-opera-1160109_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>