<?xml version="1.0" encoding="utf-8"?>
<Media Key="6209f660-94f1-4b0f-b073-2241d4272bd2" Alias="BH 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BH1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-07T15:02:21</CreateDate>
    <NodeName Default="BH 1" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m11asyxr/bh-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>