<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1ff6fc2-4f69-463b-8b8d-daeba191fd66" Alias="Footer" Level="2">
  <Info>
    <Parent Key="fbb769cd-b010-45d4-baf8-85e4fc0b4ae1">Home</Parent>
    <Path>/Home/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-06T23:41:00</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>