<?xml version="1.0" encoding="utf-8"?>
<Media Key="280e103a-858c-484c-89c8-2a1bfdd84d99" Alias="Group808" Level="3">
  <Info>
    <Parent Key="bbd7ab2d-0cf2-42ad-8852-e35e35eb09a6">Services</Parent>
    <Path>/Home/Services/Group808</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-07T21:58:25</CreateDate>
    <NodeName Default="Group808" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hqia2kem/group808.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>