<?xml version="1.0" encoding="utf-8"?>
<Media Key="69f15eeb-642f-4992-b142-5c3a60c38301" Alias="H1 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/H11</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-01T07:10:55</CreateDate>
    <NodeName Default="H1 (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3vppc0jp/h1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>