<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b7ccf85-57bc-4f85-bec6-85bc92bc4caf" Alias="H1" Level="3">
  <Info>
    <Parent Key="bbd7ab2d-0cf2-42ad-8852-e35e35eb09a6">Services</Parent>
    <Path>/Home/Services/H1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-06T13:58:22</CreateDate>
    <NodeName Default="H1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qphhyg32/h1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>