<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e0ae255-26b0-4126-a30d-1ef641f7afcc" Alias="H3" Level="3">
  <Info>
    <Parent Key="bbd7ab2d-0cf2-42ad-8852-e35e35eb09a6">Services</Parent>
    <Path>/Home/Services/H3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-06T13:59:31</CreateDate>
    <NodeName Default="H3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kprauhvq/h3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>