<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbb769cd-b010-45d4-baf8-85e4fc0b4ae1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-05T17:22:05</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>