<?xml version="1.0" encoding="utf-8"?>
<Media Key="44fb584e-5547-447c-af3e-a2adc2a78965" Alias="Invesment" Level="2">
  <Info>
    <Parent Key="3464d78e-c1d2-4fe4-807d-402672b237a5">Design</Parent>
    <Path>/Design/Invesment</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-20T03:33:01</CreateDate>
    <NodeName Default="Invesment" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jbmpwrch/invesment.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>