<?xml version="1.0" encoding="utf-8"?>
<Media Key="f22764a6-a975-4e39-b7e4-873a55bcfbbb" Alias="Logo" Level="3">
  <Info>
    <Parent Key="b1ff6fc2-4f69-463b-8b8d-daeba191fd66">Footer</Parent>
    <Path>/Home/Footer/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-06T23:41:06</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ubscp2tv/logo.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>