<?xml version="1.0" encoding="utf-8"?>
<Media Key="aafa69fa-2e68-4758-a572-6bb37886a995" Alias="Logo" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logo</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-08T21:38:33</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5rupvkti/logo.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>