<?xml version="1.0" encoding="utf-8"?>
<Media Key="964705be-f081-48f6-9f33-33200c0bf00b" Alias="Mountains 4292912 1920" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Mountains42929121920</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-12T11:02:26</CreateDate>
    <NodeName Default="Mountains 4292912 1920" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xacfpfub/mountains-4292912_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>