<?xml version="1.0" encoding="utf-8"?>
<Media Key="39daa5c4-5835-404f-ae6b-7e7e5ca516b6" Alias="New" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/New</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-01T02:15:49</CreateDate>
    <NodeName Default="New" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yksnuojv/new.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>