<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbd7ab2d-0cf2-42ad-8852-e35e35eb09a6" Alias="Services" Level="2">
  <Info>
    <Parent Key="fbb769cd-b010-45d4-baf8-85e4fc0b4ae1">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-06T13:58:17</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>