<?xml version="1.0" encoding="utf-8"?>
<Media Key="06669ace-f030-43d5-8e68-35baa280366f" Alias="Serv2" Level="2">
  <Info>
    <Parent Key="fbb769cd-b010-45d4-baf8-85e4fc0b4ae1">Home</Parent>
    <Path>/Home/Serv2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-05T18:01:25</CreateDate>
    <NodeName Default="Serv2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zcngmbrq/serv2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>