<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa753ac6-1aaa-4019-b2dd-58a5e6701c55" Alias="Serv5" Level="2">
  <Info>
    <Parent Key="fbb769cd-b010-45d4-baf8-85e4fc0b4ae1">Home</Parent>
    <Path>/Home/Serv5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-05T18:02:49</CreateDate>
    <NodeName Default="Serv5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ya3hlkvk/serv5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>