<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b238488-c5da-497b-a26a-feab8db6fd62" Alias="Sky 3389832 1920" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Sky33898321920</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-12T11:02:43</CreateDate>
    <NodeName Default="Sky 3389832 1920" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r0cchg40/sky-3389832_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>