<?xml version="1.0" encoding="utf-8"?>
<Media Key="1859cda7-e394-4b7d-ba59-0386fd98bc3a" Alias="Tea 1150046 1920" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Tea11500461920</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-12T11:27:35</CreateDate>
    <NodeName Default="Tea 1150046 1920" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uhgfsgeu/tea-1150046_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>