<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a8ebac9-66cf-47c0-8928-c7fff08bb9f5" Alias="Village 5142435 1920" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Village51424351920</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-12T11:03:01</CreateDate>
    <NodeName Default="Village 5142435 1920" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z43i2wwp/village-5142435_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>