<?xml version="1.0" encoding="utf-8"?>
<Media Key="5218a67c-9483-4019-818b-e68a9f967053" Alias="Whatsapp Image 2022 11 07 At 12.36.18 PM" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/WhatsappImage20221107At123618PM</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-14T12:27:26</CreateDate>
    <NodeName Default="Whatsapp Image 2022 11 07 At 12.36.18 PM" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pktbquud/whatsapp-image-2022-11-07-at-123618-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>