<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c2c63db-f6b0-4a39-9d0d-9ab724d4e8b6" Alias="AbdelRasheed" Level="2">
  <Info>
    <Parent Key="2d6a9ddf-59e8-4040-b8b4-cf0c3f80b41c">Articles Main</Parent>
    <Path>/ArticlesMain/AbdelRasheed</Path>
    <Trashed>false</Trashed>
    <ContentType>articlesMain</ContentType>
    <CreateDate>2023-01-18T14:27:39</CreateDate>
    <NodeName Default="AbdelRasheed" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="435c04a5-2da5-4dec-bdd4-39cdf4e8f239">ArticlesMain</Template>
  </Info>
  <Properties>
    <articlesBodyText>
      <Value><![CDATA[<p>waleedwaleedwaleedwaleedwaleedwaleedwaleedwaleedwaleedwaleed</p>]]></Value>
    </articlesBodyText>
    <articlesTitle>
      <Value><![CDATA[waleed]]></Value>
    </articlesTitle>
  </Properties>
</Content>