<?xml version="1.0" encoding="utf-8"?>
<Content Key="469037ba-a67f-4c52-a606-20703bdc41be" Alias="About Visa" Level="2">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Blog/AboutVisa</Path>
    <Trashed>false</Trashed>
    <ContentType>mainCategory</ContentType>
    <CreateDate>2023-01-20T17:26:41</CreateDate>
    <NodeName Default="About Visa" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="951017fb-dff2-4a24-9206-7cc00031be5a">MainCategory</Template>
  </Info>
  <Properties>
    <describtionSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </describtionSEOMainCategory>
    <headerMainCategory>
      <Value><![CDATA[]]></Value>
    </headerMainCategory>
    <imageMainCategory>
      <Value><![CDATA[[]]]></Value>
    </imageMainCategory>
    <titleSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </titleSEOMainCategory>
  </Properties>
</Content>