<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b8c0cdd-9115-497b-b74d-6c6b25913da7" Alias="Anguilla" Level="2">
  <Info>
    <Parent Key="bc1aa03e-a4cf-4833-9560-4222f453e484">Check requirements</Parent>
    <Path>/CheckRequirements/Anguilla</Path>
    <Trashed>false</Trashed>
    <ContentType>addCountry</ContentType>
    <CreateDate>2023-02-07T13:20:32</CreateDate>
    <NodeName Default="Anguilla" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bec7b44c-f842-449e-a1c4-1d2e4bb8992b">AddCountry</Template>
  </Info>
  <Properties>
    <addIcon>
      <Value><![CDATA[[]]]></Value>
    </addIcon>
    <addName>
      <Value><![CDATA[Anguilla]]></Value>
    </addName>
    <addNameAbbreviation>
      <Value><![CDATA[(AI)]]></Value>
    </addNameAbbreviation>
    <addText>
      <Value><![CDATA[]]></Value>
    </addText>
    <addTitle>
      <Value><![CDATA[]]></Value>
    </addTitle>
    <describtionAddCountry>
      <Value><![CDATA[]]></Value>
    </describtionAddCountry>
    <detailPageDescription>
      <Value><![CDATA[]]></Value>
    </detailPageDescription>
    <titleAddCountry>
      <Value><![CDATA[]]></Value>
    </titleAddCountry>
  </Properties>
</Content>