<?xml version="1.0" encoding="utf-8"?>
<Content Key="70ba4f49-bc5f-4df7-9e81-d5968428692f" Alias="Article Comments" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ArticleComments</Path>
    <Trashed>false</Trashed>
    <ContentType>articleComments</ContentType>
    <CreateDate>2023-01-31T21:07:47</CreateDate>
    <NodeName Default="Article Comments" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>