<?xml version="1.0" encoding="utf-8"?>
<Content Key="51d32a7f-f799-4fad-953c-64e9359ed9b8" Alias="Article Name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ArticleName</Path>
    <Trashed>false</Trashed>
    <ContentType>subArticle</ContentType>
    <CreateDate>2023-01-22T07:46:44</CreateDate>
    <NodeName Default="Article Name" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d84af0e-0c87-4077-88ea-7cb54ffd8119">SubArticle</Template>
  </Info>
  <Properties>
    <authorBio>
      <Value><![CDATA[]]></Value>
    </authorBio>
    <authorImage>
      <Value><![CDATA[[]]]></Value>
    </authorImage>
    <describtionArticle>
      <Value><![CDATA[]]></Value>
    </describtionArticle>
    <describtionSEOSubArticle>
      <Value><![CDATA[]]></Value>
    </describtionSEOSubArticle>
    <headerImage>
      <Value><![CDATA[[]]]></Value>
    </headerImage>
    <headerTitle>
      <Value><![CDATA[]]></Value>
    </headerTitle>
    <titleSEOSubArticle>
      <Value><![CDATA[]]></Value>
    </titleSEOSubArticle>
  </Properties>
</Content>