<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d6a9ddf-59e8-4040-b8b4-cf0c3f80b41c" Alias="Articles Main" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ArticlesMain</Path>
    <Trashed>false</Trashed>
    <ContentType>articlesMain</ContentType>
    <CreateDate>2023-01-18T14:21:49</CreateDate>
    <NodeName Default="Articles Main" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="435c04a5-2da5-4dec-bdd4-39cdf4e8f239">ArticlesMain</Template>
  </Info>
  <Properties>
    <articlesBodyText>
      <Value><![CDATA[<h2>Product Update - Deploying Deploy 3.3</h2>
<p>The end of 2019 is approaching and with this, also the last Product Update of the year. Let’s have a look at what we’ve been working on and what you can expect in the near future.</p>]]></Value>
    </articlesBodyText>
    <articlesTitle>
      <Value><![CDATA[you click on Save, you will notice an empty list view is created.]]></Value>
    </articlesTitle>
  </Properties>
</Content>