<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62" Alias="Author" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Author</Path>
    <Trashed>false</Trashed>
    <ContentType>people</ContentType>
    <CreateDate>2022-11-10T12:56:15</CreateDate>
    <NodeName Default="Author" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a3bedda0-830e-436f-82c0-12e4c05ce33a">people</Template>
  </Info>
  <Properties>
    <altImage>
      <Value><![CDATA[]]></Value>
    </altImage>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <describtionAuthor>
      <Value><![CDATA[]]></Value>
    </describtionAuthor>
    <featuredPeople>
      <Value><![CDATA[]]></Value>
    </featuredPeople>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[Nice crazy people]]></Value>
    </pageTitle>
    <titleAuthor>
      <Value><![CDATA[]]></Value>
    </titleAuthor>
  </Properties>
</Content>