<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ff207e3-9a69-41a8-9027-660cd7c1b3c3" Alias="Bahrain" Level="2">
  <Info>
    <Parent Key="bc1aa03e-a4cf-4833-9560-4222f453e484">Check requirements</Parent>
    <Path>/CheckRequirements/Bahrain</Path>
    <Trashed>false</Trashed>
    <ContentType>addCountry</ContentType>
    <CreateDate>2023-02-07T13:20:14</CreateDate>
    <NodeName Default="Bahrain" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bec7b44c-f842-449e-a1c4-1d2e4bb8992b">AddCountry</Template>
  </Info>
  <Properties>
    <addIcon>
      <Value><![CDATA[[
  {
    "key": "683b8e38-1028-4372-92e8-675fd5508a3d",
    "mediaKey": "6209f660-94f1-4b0f-b073-2241d4272bd2"
  }
]]]></Value>
    </addIcon>
    <addName>
      <Value><![CDATA[Bahrain]]></Value>
    </addName>
    <addNameAbbreviation>
      <Value><![CDATA[(BH)]]></Value>
    </addNameAbbreviation>
    <addText>
      <Value><![CDATA[]]></Value>
    </addText>
    <addTitle>
      <Value><![CDATA[]]></Value>
    </addTitle>
    <describtionAddCountry>
      <Value><![CDATA[]]></Value>
    </describtionAddCountry>
    <detailPageDescription>
      <Value><![CDATA[]]></Value>
    </detailPageDescription>
    <titleAddCountry>
      <Value><![CDATA[]]></Value>
    </titleAddCountry>
  </Properties>
</Content>