<?xml version="1.0" encoding="utf-8"?>
<Content Key="208e0997-6ab6-4beb-b097-24ace4b1f763" Alias="BlogsArticle" Level="4">
  <Info>
    <Parent Key="069ac101-3991-4a53-bbd6-f4333ac4dba8">EgyptVisa2</Parent>
    <Path>/Blog/VisaEgypt/EgyptVisa2/BlogsArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>subArticle</ContentType>
    <CreateDate>2023-01-25T01:00:40</CreateDate>
    <NodeName Default="BlogsArticle" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d84af0e-0c87-4077-88ea-7cb54ffd8119">SubArticle</Template>
  </Info>
  <Properties>
    <addQA>
      <Value><![CDATA[]]></Value>
    </addQA>
    <altImageSize1>
      <Value><![CDATA[]]></Value>
    </altImageSize1>
    <altImageSize3>
      <Value><![CDATA[]]></Value>
    </altImageSize3>
    <altimagSize2>
      <Value><![CDATA[]]></Value>
    </altimagSize2>
    <authorBio>
      <Value><![CDATA[]]></Value>
    </authorBio>
    <authorImage>
      <Value><![CDATA[[]]]></Value>
    </authorImage>
    <authorName>
      <Value><![CDATA[]]></Value>
    </authorName>
    <blogArticle>
      <Value><![CDATA[]]></Value>
    </blogArticle>
    <dateBlogPost>
      <Value><![CDATA[]]></Value>
    </dateBlogPost>
    <describtion>
      <Value><![CDATA[]]></Value>
    </describtion>
    <describtionBlogpost>
      <Value><![CDATA[]]></Value>
    </describtionBlogpost>
    <headerImage>
      <Value><![CDATA[[]]]></Value>
    </headerImage>
    <headerTitle>
      <Value><![CDATA[BlogsArticle]]></Value>
    </headerTitle>
    <imageSize1>
      <Value><![CDATA[[]]]></Value>
    </imageSize1>
    <imagesize2>
      <Value><![CDATA[[]]]></Value>
    </imagesize2>
    <imageSize3>
      <Value><![CDATA[[]]]></Value>
    </imageSize3>
    <isBlogOrArticle>
      <Value><![CDATA[]]></Value>
    </isBlogOrArticle>
    <tag>
      <Value><![CDATA[]]></Value>
    </tag>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <visaLink>
      <Value><![CDATA[]]></Value>
    </visaLink>
  </Properties>
</Content>