<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324" Alias="Category" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Category</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2022-11-10T12:56:15</CreateDate>
    <NodeName Default="Category" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00791db7-0eab-41f1-a4ea-b16c99a969a6">Products</Template>
  </Info>
  <Properties>
    <altImage>
      <Value><![CDATA[]]></Value>
    </altImage>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <describtion>
      <Value><![CDATA[]]></Value>
    </describtion>
    <describtionCategorys>
      <Value><![CDATA[]]></Value>
    </describtionCategorys>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[Our Gorgeous Selection]]></Value>
    </pageTitle>
    <titleCategorys>
      <Value><![CDATA[]]></Value>
    </titleCategorys>
  </Properties>
</Content>