<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc1aa03e-a4cf-4833-9560-4222f453e484" Alias="Check requirements" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CheckRequirements</Path>
    <Trashed>false</Trashed>
    <ContentType>checkRequirements</ContentType>
    <CreateDate>2022-11-16T17:56:21</CreateDate>
    <NodeName Default="Check requirements" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b2095c91-e7d1-49d8-a193-ec3d15569bce">CheckRequirements</Template>
  </Info>
  <Properties>
    <altImageCheckRequirements>
      <Value><![CDATA[]]></Value>
    </altImageCheckRequirements>
    <describtionCheckRequirementsSEO>
      <Value><![CDATA[visa titans]]></Value>
    </describtionCheckRequirementsSEO>
    <imageCheckRequirements>
      <Value><![CDATA[[]]]></Value>
    </imageCheckRequirements>
    <titleCheckRequirements>
      <Value><![CDATA[<div class="welcome-text">
<h1 class="title-desc-blog"><span> Simplifying Travel Around The World</span> <span> Fast &amp; easy service for your peace of mind!</span></h1>
</div>]]></Value>
    </titleCheckRequirements>
    <titleCheckRequirementsSEO>
      <Value><![CDATA[visa]]></Value>
    </titleCheckRequirementsSEO>
    <titleImageCheckRequirements>
      <Value><![CDATA[]]></Value>
    </titleImageCheckRequirements>
    <visaTitleCheckRequirements>
      <Value><![CDATA[Visa]]></Value>
    </visaTitleCheckRequirements>
  </Properties>
</Content>