<?xml version="1.0" encoding="utf-8"?>
<Content Key="80dd935e-643f-419a-84de-b8715d83dcf0" Alias="China visa AR" Level="2">
  <Info>
    <Parent Key="e81e9885-fcec-4a4d-9858-8993461bf483">LandPages</Parent>
    <Path>/LandPages/ChinaVisaAR</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2023-01-12T11:28:05</CreateDate>
    <NodeName Default="China visa AR" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="7388a0c7-abdb-481f-84da-c37b59d7804f">LandingPage</Template>
  </Info>
  <Properties>
    <addFAQustions>
      <Value><![CDATA[[
  {
    "key": "b64632c9-d90f-4483-9002-0d64cf8c6182",
    "name": "ما هي خدمة تأشيرة الصين التي تقدمها VisaTitans؟",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureName": "ما هي خدمة تأشيرة الصين التي تقدمها VisaTitans؟",
    "featureDetails": "للحصول على تأشيرة سياحة صينية وتأشيرة رجال اعمال إلى الصين، توفر VisaTitans خدمة فيزا الصين المختومة. بالنسبة لخدمات التأشيرة المختومة، يتعين عليك تقديم طلب عبر الإنترنت وسيقوم VisaTitans بترتيب استلام المستندات الخاصة بك وكذلك التسليم. بعد ذلك سنراجع طلبك بالكامل ونقدمه إلى السفارات أو القنصليات الصينية. أخيرًا، سوف نتأكد من حصولك على التأشيرة وجواز السفر على عتبة داركم في أسرع وقت ممكن."
  },
  {
    "key": "38da30a4-0d10-4ce8-8ff6-64ff8ac34135",
    "name": "كيف يمكنني التقدم بطلب للحصول على تأشيرة دخول إلى الصين؟",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureName": "كيف يمكنني التقدم بطلب للحصول على تأشيرة دخول إلى الصين؟",
    "featureDetails": "لطلب التأشيرة الصينية، تتوفر تأشيرة مختومة. أولاً، سيتعين عليك ملء نموذج طلب تأشيرة الصين اون لاين الخاص بك وجمع المستندات المطلوبة للحصول على تأشيرة الصين. بعد ذلك، أرسله مع جواز سفرك الأصلي إلى السفارة الصينية أو القنصلية العامة أو مركز خدمة طلب التأشيرة الصينية. بعد وقت المعالجة، يمكنك استلام جواز سفرك ودفع سعر تأشيرة الصين الخاصة بك.\n\nومع ذلك، قد تكون العملية طويلة في مكتب القنصلية الصينية وقد تواجه رفض التأشيرة الصينية. بمساعدة وكيل التأشيرات VisaTitans، ستكون عملية التأشيرة الصينية بأكملها سلسة. وستتلقى تأشيرتك الصينية الصالحة في أي وقت من الأوقات."
  },
  {
    "key": "8822cdf0-2684-4463-b2bf-8173900003ba",
    "name": "هل يمكنني دخول الصين بتأشيرة هونج كونج؟",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureName": "هل يمكنني دخول الصين بتأشيرة هونج كونج؟",
    "featureDetails": "لا، إذا رغب مواطن أجنبي في دخول الصين وزيارتها، فيجب عليه التقدم للحصول على تأشيرة صينية. على الرغم من أن هونغ كونغ تقع تحت إدارة الحكومة الصينية، إلا أن كلاهما لديهما سياسة تأشيرة منفصلة. يجب عليك التقدم للحصول على تأشيرة الصين الان وتأشيرة هونج كونج بشكل منفصل."
  },
  {
    "key": "4b42bdd6-80e3-4415-8004-5a3c38165a7b",
    "name": "ما هي مدة الإقامة في الصين بتأشيرة؟",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureName": "ما هي مدة الإقامة في الصين بتأشيرة؟",
    "featureDetails": "تختلف مدة الإقامة في الصين من 7 إلى 180 يومًا حسب نوع التأشيرة التي تتقدم بها وعدد مرات الدخول. للحصول على تأشيرة عادية للصين مع دخول واحد، تكون مدة الإقامة القانونية عادةً 30 يومًا.\nعادة ما تكون صلاحية تأشيرة الصين للحصول على تأشيرة دخول متعددة 3 و6 أشهر أو سنة واحدة. في بعض الحالات، سيحصل المواطن الأمريكي على تأشيرة صالحة للصين لمدة 10 سنوات تأشيرة.\nيمكنك دخول البر الرئيسي للصين في أي وقت خلال فترة الصلاحية. لكن لا يمكنك البقاء لأكثر من مدة الإقامة المذكورة في التأشيرة الصينية."
  },
  {
    "key": "c1967d50-44f4-4fcf-9447-4466ab6aa2e0",
    "name": "أين يمكنني العثور على نموذج طلب تأشيرة الصين؟",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureName": "أين يمكنني العثور على نموذج طلب تأشيرة الصين؟",
    "featureDetails": "في بعض البلدان، يمكنك فقط تنزيل نموذج طلب تاشيرة الصين اون لاين من موقع السفارة. بينما في البلدان الأخرى حيث قامت الصين بالاستعانة بمراكز خدمة طلب التأشيرة الصينية المعينة لعملية التأشيرة ، ستحتاج إلى ملء نموذج الطلب عبر الإنترنت. في مثل هذه الحالة، ستقدم أيضًا طلب تأشيرة الصين في مراكز خدمة طلب التأشيرة الصينية المعينة. ستدفع رسوم خدمة إضافية بالإضافة إلى رسوم السفارة."
  },
  {
    "key": "14f43b8f-3327-4de7-aad0-049bfb1c4eab",
    "name": "ما هو وقت معالجة تأشيرة الصين؟",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureName": "ما هو وقت معالجة تأشيرة الصين؟",
    "featureDetails": "يبدأ وقت المعالجة بعد تقديم طلب تأشيرة الصين الخاص بك مع متطلبات تأشيرة الصين إلى السفارة. يمكن أن تتراوح مدة معالجة التأشيرة الصينية في السفارة الصينية من 2-4 أيام عمل. تتوفر الخدمة السريعة أيضًا في يوم واحد لحامل جواز السفر الأمريكي والجنسيات الأخرى أيضًا.\nإذا كانت هناك أخطاء في طلب التأشيرة الصينية، فقد يتأخر وقت المعالجة. وقد تواجه أيضًا رفض التأشيرة الصينية."
  },
  {
    "key": "cfa9d535-afeb-44e2-b119-2ddbb0a8cb31",
    "name": "ما هي المستندات اللازمة للحصول على تأشيرة الصين؟",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureName": "ما هي المستندات اللازمة للحصول على تأشيرة الصين؟",
    "featureDetails": "يجب عليك التأكد من ملء نموذج طلب تأشيرة الصين الخاص بك بشكل صحيح. من الضروري أن تقدم متطلبات معينة للتأشيرة الصينية بما في ذلك:\n\nنموذج طلب التأشيرة الصينية\nجواز سفر ساري المفعول صالح لمدة 6 أشهر. يجب أن يحتوي جواز السفر على صفحتين فارغتين.\nصورة حديثة\nإثبات التأشيرة السياحية الصينية لحجز الفندق\nخطاب دعوة تأشيرة رجال اعمال للصين صادر عن كيان أو فرد (إن أمكن)\nإثبات الدخل\nتصريح الإقامة\nمستندات إضافية للمواطن الصيني السابق مثل شهادة الميلاد\n\nاعتمادًا على نوع تأشيرة السفر التي تتقدم بها، قد تضطر إلى تقديم مستندات تأشيرة صينية إضافية."
  },
  {
    "key": "c27d06f6-f6d2-4d5f-a8cd-dc8f88ebed56",
    "name": "صحيفة حقائق الصين",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureName": "صحيفة حقائق الصين",
    "featureDetails": "الاسم الرسمي: جمهورية الصين الشعبية (PRC)\n\nالموقع: الصين بلد يقع في شرق آسيا وهي أكبر دولة في العالم من حيث عدد السكان ، وتغطي ما يقرب من 9،600،000 كيلومتر مربع ، وهي ثالث أكبر دولة من حيث المساحة.\n\nالعاصمة: بكين\n\nرمز الاتصال: +86\n\nالعملة: الرنمينبي (يوان)\n\nاللغة الرسمية: الصينية القياسية\n\nالمساحة: 9596961 كيلومتر مربع\n\nتعداد السكان: 1،427،647،786 (2018)"
  },
  {
    "key": "db164950-e99f-4eeb-80f5-72781b267cca",
    "name": "أفضل مناطق الجذب في الصين",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureName": "أفضل مناطق الجذب في الصين",
    "featureDetails": "\nسور الصين العظيم في بكين\nجيش تيراكوتا في شيان\nالمدينة المحظورة في بكين\nالمجموعة في شنغهاي\nنهر لي في غيلين\nالباندا العملاقة في تشنغدو\nالجبال الصفراء بالقرب من شنغهاي\nقصر بوتالا في التبت\nويست ليك في هانغتشو"
  }
]]]></Value>
    </addFAQustions>
    <describtioLandingSEO>
      <Value><![CDATA[]]></Value>
    </describtioLandingSEO>
    <describtionLandPage>
      <Value><![CDATA[<p>دليل معلومات تأشيرة الصين واستمارة طلب فيزا الصين</p>]]></Value>
    </describtionLandPage>
    <fAQText>
      <Value><![CDATA[]]></Value>
    </fAQText>
    <imageSlider>
      <Value><![CDATA[[
  {
    "key": "f72921bf-9bb6-474e-845e-8fa5c2a221d6",
    "mediaKey": "52f21abc-73c1-409f-9957-11372f90db4e"
  }
]]]></Value>
    </imageSlider>
    <imageSliderAlt>
      <Value><![CDATA[]]></Value>
    </imageSliderAlt>
    <imageSliderTitle>
      <Value><![CDATA[]]></Value>
    </imageSliderTitle>
    <imageTopRequest>
      <Value><![CDATA[[
  {
    "key": "7ab38596-8256-4d7e-b942-9f958b856221",
    "mediaKey": "4c13a91a-59bc-4af0-a631-4e02ff704526"
  }
]]]></Value>
    </imageTopRequest>
    <imageTopRequestAlt>
      <Value><![CDATA[]]></Value>
    </imageTopRequestAlt>
    <imageTopRequestSmall>
      <Value><![CDATA[[
  {
    "key": "162dc2a7-386c-4a1d-b72b-103240b8c4ba",
    "mediaKey": "1859cda7-e394-4b7d-ba59-0386fd98bc3a"
  }
]]]></Value>
    </imageTopRequestSmall>
    <imageTopRequestSmallAlt>
      <Value><![CDATA[]]></Value>
    </imageTopRequestSmallAlt>
    <imageTopRequestSmallTitle>
      <Value><![CDATA[]]></Value>
    </imageTopRequestSmallTitle>
    <imageTopRequestTitle>
      <Value><![CDATA[]]></Value>
    </imageTopRequestTitle>
    <line1>
      <Value><![CDATA[]]></Value>
    </line1>
    <line2>
      <Value><![CDATA[]]></Value>
    </line2>
    <titleLandingPage>
      <Value><![CDATA[<p>تأشيرة الصين</p>]]></Value>
    </titleLandingPage>
    <titleLandingSEO>
      <Value><![CDATA[]]></Value>
    </titleLandingSEO>
    <titleText1>
      <Value><![CDATA[]]></Value>
    </titleText1>
    <titleText2>
      <Value><![CDATA[]]></Value>
    </titleText2>
    <videoDescribtion>
      <Value><![CDATA[<p style="direction: rtl;">من المؤكد أن البر الرئيسي الصيني الضخم والغريب لديه الكثير ليقدمه. هناك الكثير من مناطق الجذب السياحي في جميع أنحاء البلاد. ومع ذلك، مع إعطاء العديد من الأجانب الأولوية للسفر إلى الصين والتقدم بطلب للحصول على تأشيرة سياحة صينية وطلب تأشيرة رجال عمل وأنواع أخرى من التأشيرات. قد تكون عملية تأشيرة الصين شاقة للغاية وفي بعض الأحيان، قد تواجه رفض تأشيرة الصين.</p>
<p style="direction: rtl;">بمساعدة VisaTitans، ستكون عملية تأشيرة الصين الان بأكملها سلسة. سنهتم بكل ما يتعلق بكيفية تطبيق متطلبات تأشيرة السفر والتأشيرة الصينية.</p>]]></Value>
    </videoDescribtion>
    <videoTitle>
      <Value><![CDATA[]]></Value>
    </videoTitle>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>