<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a1f4198-e143-48ba-a0f5-1a7ef2df23aa" Alias="Contact Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2022-11-10T12:56:16</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82a26154-ded8-4cf5-9038-d00e4fcd556c">contact</Template>
  </Info>
  <Properties>
    <contactUsAltImage>
      <Value><![CDATA[]]></Value>
    </contactUsAltImage>
    <contactUsHeader>
      <Value><![CDATA[<h1 class="title-desc-blog">Everything You Need To Know About The Digital Trends And Initiatives That Are Transforming Commerce And Uplifting The Communities We Serve.</h1>]]></Value>
    </contactUsHeader>
    <contactUsImage>
      <Value><![CDATA[[
  {
    "key": "db7e749e-b8fb-44a7-9af6-db15d96d74f4",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </contactUsImage>
    <contactUsText>
      <Value><![CDATA[OUR LOCATIONS]]></Value>
    </contactUsText>
    <contactUsTitleImage>
      <Value><![CDATA[]]></Value>
    </contactUsTitleImage>
    <describtionContactSEO>
      <Value><![CDATA[visa titans Contact Us]]></Value>
    </describtionContactSEO>
    <mapCoordinates>
      <Value><![CDATA[{
  "marker": {
    "latitude": 55.40618053607045,
    "longitude": 10.389005541801454
  },
  "zoom": 11,
  "boundingBox": {
    "southWestCorner": {
      "latitude": -85.04413416287397,
      "longitude": 536.1582183837892
    },
    "northEastCorner": {
      "latitude": -85.04413416287397,
      "longitude": 536.1582183837892
    }
  }
}]]></Value>
    </mapCoordinates>
    <mapHeader>
      <Value><![CDATA[You'll find us here]]></Value>
    </mapHeader>
    <titleContactSEO>
      <Value><![CDATA[Visa | Contact Us]]></Value>
    </titleContactSEO>
  </Properties>
</Content>