<?xml version="1.0" encoding="utf-8"?>
<Content Key="6de4ded4-bb61-4001-983f-8e05067e1def" Alias="D D (2)" Level="3">
  <Info>
    <Parent Key="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">Visa App Data</Parent>
    <Path>/Home/VisaAppData/DD2</Path>
    <Trashed>false</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-06-01T15:45:15</CreateDate>
    <NodeName Default="D D (2)" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <destinationCountry>
      <Value><![CDATA[]]></Value>
    </destinationCountry>
    <fatherName>
      <Value><![CDATA[]]></Value>
    </fatherName>
    <fatherSurname>
      <Value><![CDATA[]]></Value>
    </fatherSurname>
    <firstName>
      <Value><![CDATA[]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <motherName>
      <Value><![CDATA[]]></Value>
    </motherName>
    <motherSurname>
      <Value><![CDATA[]]></Value>
    </motherSurname>
    <nationalIdentityNumber>
      <Value><![CDATA[]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[]]></Value>
    </otherNames>
    <parentDetails>
      <Value><![CDATA[]]></Value>
    </parentDetails>
    <passportDate>
      <Value><![CDATA[]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[]]></Value>
    </passportNumber>
    <paymentDetails>
      <Value><![CDATA[]]></Value>
    </paymentDetails>
    <paymentType>
      <Value><![CDATA[]]></Value>
    </paymentType>
    <placeOfBirth>
      <Value><![CDATA[]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[]]></Value>
    </previousNationality>
    <servicesItems>
      <Value><![CDATA[]]></Value>
    </servicesItems>
    <streetNameNumber>
      <Value><![CDATA[]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[]]></Value>
    </surname>
    <visaRequirementItems>
      <Value><![CDATA[]]></Value>
    </visaRequirementItems>
    <zipPostcode>
      <Value><![CDATA[]]></Value>
    </zipPostcode>
  </Properties>
</Content>