<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5088a40-7a4a-4265-b652-c8034410fcb4" Alias="edfrrt tt" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/edfrrtTt</Path>
    <Trashed Parent="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">true</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-23T00:09:59</CreateDate>
    <NodeName Default="edfrrt tt" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[ggg]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[fff]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[ggg]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[edfrrt]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[edfrr]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Female]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[sssss]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[tt]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[344444]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[fffg]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2026-03-02T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-03-02T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[4555555]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[dddd]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </previousNationality>
    <streetNameNumber>
      <Value><![CDATA[ffff]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[gggg]]></Value>
    </surname>
    <visaRequirementItems>
      <Value><![CDATA[]]></Value>
    </visaRequirementItems>
    <zipPostcode>
      <Value><![CDATA[ffff]]></Value>
    </zipPostcode>
  </Properties>
</Content>