<?xml version="1.0" encoding="utf-8"?>
<Content Key="069ac101-3991-4a53-bbd6-f4333ac4dba8" Alias="EgyptVisa2" Level="3">
  <Info>
    <Parent Key="be097ca3-f87a-41c7-a720-2cbb288fc9b0">VisaEgypt</Parent>
    <Path>/Blog/VisaEgypt/EgyptVisa2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2023-01-21T21:39:25</CreateDate>
    <NodeName Default="EgyptVisa2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <blogNameTitle>
      <Value><![CDATA[Title]]></Value>
    </blogNameTitle>
    <BlogsHeaderTitle>
      <Value><![CDATA[<p>hallo world</p>]]></Value>
    </BlogsHeaderTitle>
    <imageBlogspost>
      <Value><![CDATA[[
  {
    "key": "6f30fe2f-a499-4b8c-8d46-7923fedf1de6",
    "mediaKey": "256549cb-0735-4df4-b948-70da0b299444"
  }
]]]></Value>
    </imageBlogspost>
  </Properties>
</Content>