<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c21b9e7-4bbb-40ec-8f67-ceacb2c3836d" Alias="Footer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2022-12-20T15:26:56</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="70d298da-d192-4f5f-8018-5f077226b104">Footer</Template>
  </Info>
  <Properties>
    <altIcon>
      <Value><![CDATA[netcom]]></Value>
    </altIcon>
    <describtionFooterSEO>
      <Value><![CDATA[]]></Value>
    </describtionFooterSEO>
    <email>
      <Value><![CDATA[support@travellinn.mail.com]]></Value>
    </email>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <footerIcon>
      <Value><![CDATA[[
  {
    "key": "631840b0-1786-4f46-8655-d783597e5df3",
    "mediaKey": "aafa69fa-2e68-4758-a572-6bb37886a995"
  }
]]]></Value>
    </footerIcon>
    <footerText>
      <Value><![CDATA[At the beginning of the year i have to give at work the vacation dates]]></Value>
    </footerText>
    <instagram>
      <Value><![CDATA[]]></Value>
    </instagram>
    <phone>
      <Value><![CDATA[2369145697]]></Value>
    </phone>
    <titleFooterSEO>
      <Value><![CDATA[]]></Value>
    </titleFooterSEO>
    <titleIcon>
      <Value><![CDATA[netcom]]></Value>
    </titleIcon>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
    <whatsApp>
      <Value><![CDATA[]]></Value>
    </whatsApp>
  </Properties>
</Content>