<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bf69274-6bd3-414f-aaf8-1a0e9ab52e03" Alias="habiba" Level="4">
  <Info>
    <Parent Key="000ba672-1f1f-4f7d-ba3c-1a104b65280f">https://www.visatitans.com/blog/تعرف-على-مكاتب-تلخيص-فيزا-شنغن-في-مصر</Parent>
    <Path>/Blog/VisaBlog/httpswwwvisatitanscomblog/habiba</Path>
    <Trashed>false</Trashed>
    <ContentType>subArticle</ContentType>
    <CreateDate>2023-01-24T04:18:37</CreateDate>
    <NodeName Default="habiba" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d84af0e-0c87-4077-88ea-7cb54ffd8119">SubArticle</Template>
  </Info>
  <Properties>
    <addQA>
      <Value><![CDATA[]]></Value>
    </addQA>
    <altImageSize1>
      <Value><![CDATA[]]></Value>
    </altImageSize1>
    <altImageSize3>
      <Value><![CDATA[]]></Value>
    </altImageSize3>
    <altimagSize2>
      <Value><![CDATA[]]></Value>
    </altimagSize2>
    <authorName>
      <Value><![CDATA[umb://document/3267e502fcf04e46872184f21febd037]]></Value>
    </authorName>
    <blogArticle>
      <Value><![CDATA[<div class="votecell post-layout--left">
<div class="js-voting-container d-flex jc-center fd-column ai-stretch gs4 fc-black-200" data-post-id="43985949">
<div class="js-vote-count flex--item d-flex fd-column ai-center fc-black-500 fs-title" data-value="17">17</div>
<div class="js-accepted-answer-indicator flex--item fc-green-700 py6 mtn8" data-s-tooltip-placement="right" aria-label="Accepted">
<div class="ta-center"></div>
</div>
<a href="https://stackoverflow.com/posts/43985949/timeline" class="js-post-issue flex--item s-btn s-btn__unset c-pointer py6 mx-auto" data-shortcut="T" data-ks-title="timeline" data-controller="s-tooltip" data-s-tooltip-placement="right" aria-label="Timeline" aria-describedby="--stacks-s-tooltip-pnqi6bec"></a></div>
</div>
<div class="answercell post-layout--right">
<div class="s-prose js-post-body">
<p>Firstly, if it might help anybody, when TeamCity fails a step, a lot of text in that step will be red in color (even mere warnings), so at first I ran into a dead-end with believing the second error message was the problem. It wasn't.</p>
<p>Turns out, my Resharper 2016.3.2 (on Visual Studio 2017) had changed the following</p>
</div>
</div>]]></Value>
    </blogArticle>
    <dateBlogPost>
      <Value><![CDATA[]]></Value>
    </dateBlogPost>
    <describtion>
      <Value><![CDATA[<p>Firstly, if it might help anybody, when TeamCity fails a step, a lot of text in that step will be red in color (even mere warnings), so at first I ran into a dead-end with believing the second error message was the problem. It wasn't.</p>
<p>Turns out, my Resharper 2016.3.2 (on Visual Studio 2017) had changed the following</p>]]></Value>
    </describtion>
    <describtionBlogpost>
      <Value><![CDATA[]]></Value>
    </describtionBlogpost>
    <imageSize1>
      <Value><![CDATA[[
  {
    "key": "4517b5d0-271d-4f23-9508-7777b15b5165",
    "mediaKey": "256549cb-0735-4df4-b948-70da0b299444"
  }
]]]></Value>
    </imageSize1>
    <imagesize2>
      <Value><![CDATA[[
  {
    "key": "1b3fce65-37b1-48a9-b173-8410de7c1cee",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </imagesize2>
    <imageSize3>
      <Value><![CDATA[[
  {
    "key": "a25314dc-ab5d-41d5-9d68-0b474d2ed139",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </imageSize3>
    <isBlogOrArticle>
      <Value><![CDATA[]]></Value>
    </isBlogOrArticle>
    <selectMainBlogs>
      <Value><![CDATA[umb://document/67260e955eca407f9fffac1708eca49e,umb://document/4654cf7a7c5841d796715da07fcf5485]]></Value>
    </selectMainBlogs>
    <selectRandomBlogs>
      <Value><![CDATA[umb://document/79635bafcd8442679610b422fb739309,umb://document/f59e9234d38b47dc8ca221223178eb7b,umb://document/67260e955eca407f9fffac1708eca49e,umb://document/4654cf7a7c5841d796715da07fcf5485]]></Value>
    </selectRandomBlogs>
    <selectSubBlogs>
      <Value><![CDATA[umb://document/f6b5a2fbaea84be28f041eedf152f4ed,umb://document/865abe92c3264cce867e275897b0b7d9]]></Value>
    </selectSubBlogs>
    <tag>
      <Value><![CDATA[]]></Value>
    </tag>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleForMainBlogs>
      <Value><![CDATA[Related blogs]]></Value>
    </titleForMainBlogs>
    <titleForRandomBlogs>
      <Value><![CDATA[Related blogs]]></Value>
    </titleForRandomBlogs>
    <titleForSubBlogs>
      <Value><![CDATA[Related blogs]]></Value>
    </titleForSubBlogs>
    <titleHeaderBlog>
      <Value><![CDATA[habiba]]></Value>
    </titleHeaderBlog>
    <visaLink>
      <Value><![CDATA[VisaTitans: The Best Solution To All Your Visa Needs]]></Value>
    </visaLink>
  </Properties>
</Content>