<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7fe0d2c-e818-4319-ae50-a926ab0338e5" Alias="habiba" Level="2">
  <Info>
    <Parent Key="0e309a98-83d6-4e99-9df1-6d6f09194842">SupCategorys</Parent>
    <Path>/SupCategorys/habiba</Path>
    <Trashed>false</Trashed>
    <ContentType>subCategory</ContentType>
    <CreateDate>2022-12-20T03:33:25</CreateDate>
    <NodeName Default="habiba" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="df7d7639-971e-405b-aaaa-f382ea66bcf8">SubCategory</Template>
  </Info>
  <Properties>
    <altPhotos>
      <Value><![CDATA[q]]></Value>
    </altPhotos>
    <categoryName>
      <Value><![CDATA[umb://document/d390a562107d4f028df757aa86bad752]]></Value>
    </categoryName>
    <describtionSubCategorySEO>
      <Value><![CDATA[]]></Value>
    </describtionSubCategorySEO>
    <headerCat>
      <Value><![CDATA[<p>test</p>]]></Value>
    </headerCat>
    <headerDescription>
      <Value><![CDATA[<p>test</p>]]></Value>
    </headerDescription>
    <photos>
      <Value><![CDATA[[
  {
    "key": "247cee39-1e21-4132-a7bb-6816769fbb06",
    "mediaKey": "44fb584e-5547-447c-af3e-a2adc2a78965"
  }
]]]></Value>
    </photos>
    <titleCategorySEO>
      <Value><![CDATA[]]></Value>
    </titleCategorySEO>
    <titlePhotos>
      <Value><![CDATA[q]]></Value>
    </titlePhotos>
  </Properties>
</Content>