<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f045745-9ccd-4511-80de-0f42a09615e8" Alias="here" Level="5">
  <Info>
    <Parent Key="f6b5a2fb-aea8-4be2-8f04-1eedf152f4ed">waleed</Parent>
    <Path>/Blog/VisaBlog/httpswwwvisatitanscomblog1/waleed/here</Path>
    <Trashed>false</Trashed>
    <ContentType>replyComments</ContentType>
    <CreateDate>2023-01-31T23:13:41</CreateDate>
    <NodeName Default="here" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <commentDate>
      <Value><![CDATA[]]></Value>
    </commentDate>
    <coName>
      <Value><![CDATA[]]></Value>
    </coName>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <message>
      <Value><![CDATA[]]></Value>
    </message>
  </Properties>
</Content>