<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2028fb7-5540-4c4a-af92-20ca7e51d721" Alias="Home Testimonials" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeTestimonials</Path>
    <Trashed>false</Trashed>
    <ContentType>homeTestimonials</ContentType>
    <CreateDate>2022-11-16T17:49:01</CreateDate>
    <NodeName Default="Home Testimonials" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6c7bb161-ed57-425c-b43b-36710ffa82d9">HomeTestimonials</Template>
  </Info>
  <Properties>
    <describtionTestimonialsTopRequested>
      <Value><![CDATA[]]></Value>
    </describtionTestimonialsTopRequested>
    <testimonialsHomeText>
      <Value><![CDATA[]]></Value>
    </testimonialsHomeText>
    <testimonialsHomeTitle>
      <Value><![CDATA[]]></Value>
    </testimonialsHomeTitle>
    <titleTestimonialsTopReques>
      <Value><![CDATA[]]></Value>
    </titleTestimonialsTopReques>
    <topRequestedTitle>
      <Value><![CDATA[]]></Value>
    </topRequestedTitle>
  </Properties>
</Content>