<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f21bd3e-7434-49c8-b89b-fe4107445e3c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-11-16T15:27:00</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
  </Info>
  <Properties>
    <aboutUsLink>
      <Value><![CDATA[umb://document/55c0460134d04c95b6543ea4aeb622c5]]></Value>
    </aboutUsLink>
    <aboutUsTitle>
      <Value><![CDATA[About us]]></Value>
    </aboutUsTitle>
    <contactUsLink>
      <Value><![CDATA[umb://document/4a1f4198e14348baa0f51a7ef2df23aa]]></Value>
    </contactUsLink>
    <contactUsTitle>
      <Value><![CDATA[Contact us]]></Value>
    </contactUsTitle>
    <description>
      <Value><![CDATA[<p class="sec-desc">Our company was established by <br />visionary founders from diverse <br />cultures, backgrounds, and professional <br />careers with a dream of providing <br />world-class visa solutions to everyone <br />regardless of who the are or where <br />they are from. Keeping the dreams of <br />our founders alive .</p>]]></Value>
    </description>
    <email>
      <Value><![CDATA[support@travellinn.mail.com]]></Value>
    </email>
    <facebookIcon>
      <Value><![CDATA[[]]]></Value>
    </facebookIcon>
    <facebookLink>
      <Value><![CDATA[]]></Value>
    </facebookLink>
    <footerThirdColumnLinks>
      <Value><![CDATA[[
  {
    "key": "af4f2106-3aba-4136-b0a1-d0ace24274aa",
    "name": "Check Visa Requirements",
    "ncContentTypeAlias": "services",
    "PropType": null,
    "title": "Check Visa Requirements ",
    "linkUrl": "umb://document/bc1aa03ea4cf483395604222f453e484"
  },
  {
    "key": "4eb22f12-74fa-40b1-b01d-ab6179fab37d",
    "name": "Privacy Policy",
    "ncContentTypeAlias": "services",
    "PropType": null,
    "title": "Privacy Policy ",
    "linkUrl": "umb://document/d293be733d3d4ea398c078b75e97c5aa"
  },
  {
    "key": "34afc90c-9427-424d-afa1-1c5c11247e2f",
    "name": "Terms and Conditions",
    "ncContentTypeAlias": "services",
    "PropType": null,
    "title": "Terms and Conditions ",
    "linkUrl": "umb://document/3277a4db978242c58f4c17babd6d3014"
  }
]]]></Value>
    </footerThirdColumnLinks>
    <headingText>
      <Value><![CDATA[Testimonials]]></Value>
    </headingText>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <leftImageDescription>
      <Value><![CDATA[<p>At the beginning of the year i have to <br />give at work the vacation dates</p>]]></Value>
    </leftImageDescription>
    <leftLogoImage>
      <Value><![CDATA[[
  {
    "key": "1a61f522-f6cd-403f-b557-56e3f2e38349",
    "mediaKey": "f22764a6-a975-4e39-b7e4-873a55bcfbbb"
  }
]]]></Value>
    </leftLogoImage>
    <leftLogoImageAlt>
      <Value><![CDATA[logo image]]></Value>
    </leftLogoImageAlt>
    <linkedInIcon>
      <Value><![CDATA[[]]]></Value>
    </linkedInIcon>
    <linkedInUrl>
      <Value><![CDATA[]]></Value>
    </linkedInUrl>
    <ourServicesHeading>
      <Value><![CDATA[Our Services]]></Value>
    </ourServicesHeading>
    <ourServicesSection>
      <Value><![CDATA[]]></Value>
    </ourServicesSection>
    <recipientEmail>
      <Value><![CDATA[wariskhan20@yahoo.com]]></Value>
    </recipientEmail>
    <rightSection>
      <Value><![CDATA[]]></Value>
    </rightSection>
    <selectTestimonials>
      <Value><![CDATA[[
  {
    "key": "251ad73c-aa61-4891-8144-64e63ad9a3f5",
    "name": "waris khan",
    "ncContentTypeAlias": "testimonialsSection",
    "PropType": null,
    "shortIntro": "<p>Title text for introductions</p>",
    "testimonialName": "waris khan",
    "testimonialImage": "[\r\n  {\r\n    \"key\": \"8eef55b5-9a04-4907-887f-5c8fbe08ac48\",\r\n    \"mediaKey\": \"d294464f-6943-4e65-815d-b2c077f2282c\"\r\n  }\r\n]"
  },
  {
    "key": "5169c9a0-3594-4713-a57f-6e9ca843eb36",
    "name": "Waleed",
    "ncContentTypeAlias": "testimonialsSection",
    "PropType": null,
    "shortIntro": "<p>Text for intro text</p>",
    "testimonialName": "Waleed",
    "testimonialImage": "[\r\n  {\r\n    \"key\": \"184773bc-7cc2-4bc5-b816-7b474fa99a11\",\r\n    \"mediaKey\": \"d294464f-6943-4e65-815d-b2c077f2282c\"\r\n  }\r\n]"
  }
]]]></Value>
    </selectTestimonials>
    <selectTopRequestedCountries>
      <Value><![CDATA[[
  {
    "key": "3b69bc61-e1d3-4f3e-9ad1-4a6c5a9c1cbf",
    "name": "Saudi Arabia",
    "ncContentTypeAlias": "topRequestedCountries",
    "PropType": null,
    "countryName": "Saudi Arabia",
    "countryThumbnailImage": "[\r\n  {\r\n    \"key\": \"3f0027c6-d7ae-4283-b646-1e1bca76a292\",\r\n    \"mediaKey\": \"2fadcf88-9fb1-4993-ad4e-63db58435385\"\r\n  }\r\n]",
    "isKeepOnLeftSide": "1"
  },
  {
    "key": "b337e541-9a82-47e0-9d26-e8c98a54ac27",
    "name": "India",
    "ncContentTypeAlias": "topRequestedCountries",
    "PropType": null,
    "countryName": "India",
    "countryThumbnailImage": "[\r\n  {\r\n    \"key\": \"73f737da-c96d-4584-b581-dd04370198bd\",\r\n    \"mediaKey\": \"06669ace-f030-43d5-8e68-35baa280366f\"\r\n  }\r\n]",
    "isKeepOnLeftSide": "0"
  },
  {
    "key": "1dc90e82-33be-480a-b171-bd7f3d8c4971",
    "name": "Australia",
    "ncContentTypeAlias": "topRequestedCountries",
    "PropType": null,
    "countryName": "Australia",
    "countryThumbnailImage": "[\r\n  {\r\n    \"key\": \"caac8067-0fab-4819-8066-649446d0429d\",\r\n    \"mediaKey\": \"829032b2-3e0d-4338-8454-27c0d3632d37\"\r\n  }\r\n]",
    "isKeepOnLeftSide": "0"
  },
  {
    "key": "66faeab8-ebd4-4e0a-bddd-cd11558bf8f2",
    "name": "Turkey",
    "ncContentTypeAlias": "topRequestedCountries",
    "PropType": null,
    "countryName": "Turkey",
    "countryThumbnailImage": "[\r\n  {\r\n    \"key\": \"776e7ec1-62a5-4fbd-a5fd-177c7574f431\",\r\n    \"mediaKey\": \"aa753ac6-1aaa-4019-b2dd-58a5e6701c55\"\r\n  }\r\n]",
    "isKeepOnLeftSide": "0"
  },
  {
    "key": "bd23c873-e2e9-4354-b5f8-0eaec34b6a2c",
    "name": "Colombia",
    "ncContentTypeAlias": "topRequestedCountries",
    "PropType": null,
    "countryName": "Colombia",
    "countryThumbnailImage": "[\r\n  {\r\n    \"key\": \"d08bbcdf-1fc5-4bb8-ad29-370f11429451\",\r\n    \"mediaKey\": \"5e1f2df3-b7d4-4651-adc8-1559977ae0bb\"\r\n  }\r\n]",
    "isKeepOnLeftSide": "0"
  }
]]]></Value>
    </selectTopRequestedCountries>
    <serviceItems>
      <Value><![CDATA[[
  {
    "key": "25ed569e-fac8-4954-9d27-546cdc03766c",
    "name": "Visa",
    "ncContentTypeAlias": "servicesSection",
    "PropType": null,
    "iconImage": "[\r\n  {\r\n    \"key\": \"02e830ef-a2e9-4bee-821d-41a1d8552a41\",\r\n    \"mediaKey\": \"1b7ccf85-57bc-4f85-bec6-85bc92bc4caf\"\r\n  }\r\n]",
    "backgroundImage": "[\r\n  {\r\n    \"key\": \"ac974956-8697-4415-ae34-9a89b3314ad9\",\r\n    \"mediaKey\": \"280e103a-858c-484c-89c8-2a1bfdd84d99\"\r\n  }\r\n]",
    "iconImageAlt": "Visa",
    "title": "Visa",
    "shortIntro": "Travel agencies that provide round pne way, and multi trip services"
  },
  {
    "key": "da195181-b9f4-4ad6-822b-f82973c330ac",
    "name": "Legalization",
    "ncContentTypeAlias": "servicesSection",
    "PropType": null,
    "iconImage": "[\r\n  {\r\n    \"key\": \"e83b2a0f-76ad-4b12-b7bf-a5b598ea30a2\",\r\n    \"mediaKey\": \"1e0ae255-26b0-4126-a30d-1ef641f7afcc\"\r\n  }\r\n]",
    "backgroundImage": "[\r\n  {\r\n    \"key\": \"7da3bc97-e446-4a47-8270-69d33c541018\",\r\n    \"mediaKey\": \"13aaee28-40fc-4469-aa32-861aa7962605\"\r\n  }\r\n]",
    "iconImageAlt": "Legalization",
    "title": "Legalization",
    "shortIntro": "Travel agencies that provide round pne way, and multi trip services"
  }
]]]></Value>
    </serviceItems>
    <servicesItem>
      <Value><![CDATA[[
  {
    "key": "b96eaabb-727e-4413-9397-dd0a3108992b",
    "name": "Visa",
    "ncContentTypeAlias": "services",
    "PropType": null,
    "title": "Visa",
    "linkUrl": null
  },
  {
    "key": "3257222c-ef92-43d1-a4b4-512180b8d593",
    "name": "Saudi Arabia visa",
    "ncContentTypeAlias": "services",
    "PropType": null,
    "title": "Saudi Arabia visa",
    "linkUrl": null
  },
  {
    "key": "fc4c5689-a758-413f-9646-66b82e9879c0",
    "name": "Translate",
    "ncContentTypeAlias": "services",
    "PropType": null,
    "title": "Translate",
    "linkUrl": null
  },
  {
    "key": "d739777e-13a1-4b92-9694-b953a0d9d844",
    "name": "Legislation",
    "ncContentTypeAlias": "services",
    "PropType": null,
    "title": "Legislation",
    "linkUrl": null
  }
]]]></Value>
    </servicesItem>
    <serviceTitle>
      <Value><![CDATA[Service]]></Value>
    </serviceTitle>
    <shortIntro>
      <Value><![CDATA[<p>Travel agencies that provide round trip, one wat, and multi trip services <br />For those of you like me who have the flexibility to choose a vacation</p>]]></Value>
    </shortIntro>
    <sMTPPASSWORD>
      <Value><![CDATA[$smtp@1234$]]></Value>
    </sMTPPASSWORD>
    <sMTPPORT>
      <Value><![CDATA[587]]></Value>
    </sMTPPORT>
    <sMTPSERVER>
      <Value><![CDATA[mail.crswan.com]]></Value>
    </sMTPSERVER>
    <sMTPSSL>
      <Value><![CDATA[0]]></Value>
    </sMTPSSL>
    <sMTPUSER>
      <Value><![CDATA[smtp@crswan.com]]></Value>
    </sMTPUSER>
    <socialIcons>
      <Value><![CDATA[]]></Value>
    </socialIcons>
    <telephone>
      <Value><![CDATA[023-691-456-97]]></Value>
    </telephone>
    <title>
      <Value><![CDATA[Travel The World]]></Value>
    </title>
    <topHeading>
      <Value><![CDATA[Top requested]]></Value>
    </topHeading>
  </Properties>
</Content>