<?xml version="1.0" encoding="utf-8"?>
<Content Key="616d0f54-b8b0-450e-be0d-2ca4c06672a2" Alias="Jan Skovgaard" Level="2">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">Author</Parent>
    <Path>/Author/JanSkovgaard</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2022-11-10T12:56:16</CreateDate>
    <NodeName Default="Jan Skovgaard" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <altPhoto>
      <Value><![CDATA[]]></Value>
    </altPhoto>
    <authorTitle>
      <Value><![CDATA[]]></Value>
    </authorTitle>
    <describtionAuthor>
      <Value><![CDATA[]]></Value>
    </describtionAuthor>
    <photo>
      <Value><![CDATA[[
  {
    "key": "4ce590f1-0360-4e4b-8ed1-c9ff3beda526",
    "mediaKey": "cf1ab8dc-ad0f-4a8e-974b-87b84777b0d6",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </photo>
    <titleAuthor>
      <Value><![CDATA[]]></Value>
    </titleAuthor>
    <titlePhoto>
      <Value><![CDATA[]]></Value>
    </titlePhoto>
  </Properties>
</Content>