<?xml version="1.0" encoding="utf-8"?>
<Content Key="e81e9885-fcec-4a4d-9858-8993461bf483" Alias="LandPages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LandPages</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPages</ContentType>
    <CreateDate>2022-11-16T17:50:00</CreateDate>
    <NodeName Default="LandPages" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e6f11d11-d20d-4c97-b126-8bd04011ea46">LandingPages</Template>
  </Info>
  <Properties>
    <describtionLandingPagesSEO>
      <Value><![CDATA[]]></Value>
    </describtionLandingPagesSEO>
    <imageContant>
      <Value><![CDATA[[]]]></Value>
    </imageContant>
    <imageContantAlt>
      <Value><![CDATA[]]></Value>
    </imageContantAlt>
    <imageContantTitle>
      <Value><![CDATA[]]></Value>
    </imageContantTitle>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <titleLandingPages>
      <Value><![CDATA[]]></Value>
    </titleLandingPages>
    <titleLandingPagesSEO>
      <Value><![CDATA[]]></Value>
    </titleLandingPagesSEO>
  </Properties>
</Content>