<?xml version="1.0" encoding="utf-8"?>
<Content Key="feec26b8-f729-40e5-90c6-b3d5233710aa" Alias="Legalisation (1)" Level="2">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Blog/Legalisation1</Path>
    <Trashed>false</Trashed>
    <ContentType>mainCategory</ContentType>
    <CreateDate>2023-01-20T17:27:13</CreateDate>
    <NodeName Default="Legalisation (1)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="951017fb-dff2-4a24-9206-7cc00031be5a">MainCategory</Template>
  </Info>
  <Properties>
    <describtionSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </describtionSEOMainCategory>
    <headerMainCategory>
      <Value><![CDATA[<h1 class="title-desc-blog"><span>Everything you need to know about </span> <span>the digital trends and initiatives that are transforming</span> <span>commerce and uplifting the communities we serve.</span></h1>]]></Value>
    </headerMainCategory>
    <imageMainCategory>
      <Value><![CDATA[[]]]></Value>
    </imageMainCategory>
    <titleSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </titleSEOMainCategory>
  </Properties>
</Content>