<?xml version="1.0" encoding="utf-8"?>
<Content Key="d293be73-3d3d-4ea3-98c0-78b75e97c5aa" Alias="Privacy Policy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PrivacyPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>privacyPolicy</ContentType>
    <CreateDate>2022-11-16T17:56:38</CreateDate>
    <NodeName Default="Privacy Policy" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e530f23-13ca-4727-b6b1-85a01db1d150">PrivacyPolicy</Template>
  </Info>
  <Properties>
    <altImagePrivacyPolicy>
      <Value><![CDATA[]]></Value>
    </altImagePrivacyPolicy>
    <describtionPrivacyPolicy>
      <Value><![CDATA[<div class="col-lg-12 big-text">
<p>Protecting your private information is our priority. This Statement of Privacy applies to https://www.visatitans.com/ and ("VisaTitans") and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to ("VisaTitans") include https://www.visatitans.com/, VisaTitans and its subsidiaries worldwide. The VisaTitans website is a travel visa consultation site. By using the VisaTitans website, you consent to the data practices described in this statement.</p>
<p><span>Collection of your Personal Information</span> <br />In order to better provide you with products and services offered on our Site, VisaTitans may collect personally identifiable information, such as your:</p>
<ul>
<li>First and Last Name</li>
<li>Mailing Address</li>
<li>E-mail Address</li>
<li>Phone Number</li>
<li>Employer</li>
<li>Job Title</li>
<li>Any other information required to complete visa application forms</li>
</ul>
<p>If you purchase VisaTitans's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction.</p>
<p>VisaTitans may also collect anonymous demographic information, which is not unique to you, such as your:</p>
<ul>
<li>Age</li>
<li>Gender</li>
<li>Household</li>
<li>Any other information required to complete visa application form</li>
</ul>
<p>We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services available on the Site. These may include: (a) registering for an account on our Site; (b) entering a sweepstakes or contest sponsored by us or one of our partners; (c) signing up for special offers from selected third parties; (d) sending us an email message; (e) submitting your credit card or other payment information when ordering and purchasing products and services on our Site. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future.</p>
<p><span>Use of your Personal Information</span> <br />VisaTitans collects and uses your personal information to operate its website(s) and deliver the services you have requested.</p>
<p>VisaTitans may also use your personally identifiable information to inform you of other products or services available from VisaTitans and its affiliates.</p>
<p><span>Sharing Information with Third Parties</span> <br />VisaTitans does not sell, rent or lease its customer lists to third parties.</p>
<p>VisaTitans may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to VisaTitans, and they are required to maintain the confidentiality of your information.</p>
<p>VisaTitans may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on VisaTitans or the site; (b) protect and defend the rights or property of VisaTitans; and/or (c) act under exigent circumstances to protect the personal safety of users of VisaTitans, or the public.</p>
<p><span>Tracking User Behavior</span> <br />VisaTitans may keep track of the websites and pages our users visit within VisaTitans, in order to determine what VisaTitans services are the most popular. This data is used to deliver customized content and advertising within VisaTitans to customers whose behavior indicates that they are interested in a particular subject area.</p>
<p><span>Automatically Collected Information</span> <br />Information about your computer hardware and software may be automatically collected by VisaTitans. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the VisaTitans website.</p>
<p><span>Use of Cookies</span> <br />The VisaTitans website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>
<p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize VisaTitans pages, or register with VisaTitans site or services, a cookie helps VisaTitans to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same VisaTitans website, the information you previously provided can be retrieved, so you can easily use the VisaTitans features that you customized.</p>
<p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the VisaTitans services or websites you visit.</p>
<p><span>Security of your Personal Information </span> <br />VisaTitans secures your personal information from unauthorized access, use, or disclosure. VisaTitans uses SSL/TLS protocol for this purpose.</p>
<p>When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>
<p>We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) security, integrity, and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed.</p>
<p><span>Children Under Thirteen </span> <br />VisaTitans collects personally identifiable information from children under the age of thirteen. VisaTitans collects this information for the following reason(s): Filling and completing visa application form.</p>
<p>We provide information about our personal data practices for children on our home page and wherever we knowingly collect personal data from children on our Web site. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website. If you are a parent and you have questions regarding our data collection practices, please contact us using the information provided at the end of this Statement of Privacy.</p>
<p><span> E-mail Communications</span> <br />From time to time, VisaTitans may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication.</p>
<p>f you would like to stop receiving marketing or promotional communications via email from VisaTitans, you may opt out of such communications by Customers may unsubscribe from emails by "replying STOP" or "clicking on the UNSUBSCRIBE button..</p>
<p><span> Changes to this Statement </span> <br />VisaTitans reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our site, and/or by updating any privacy information on this page. Your continued use of the Site and/or Services available through this Site after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.</p>
<p><span> Contact Us </span> <br />VisaTitans welcomes your questions or comments regarding the Terms of Service at our corporate legal addresses below:</p>
<p>VisaTitans Inc. <br />Address: 100 Bishop Dr., Fredericton, NB, Canada. <br />Email Address: legal@visatitans.com <br />Telephone number: (+1) 506 497 8080</p>
<p>V T S Documents Clearing Services L.L.C <br />Address: Office 1902, The Exchange Tower, Business Bay, Dubai, UAE. <br />Email Address: legal@visatitans.com <br />Telephone number: (+971) 56 535 0523</p>
<p>VisaTitans <br />Address: 165 N Hadaek Alahram, Giza, Egypt. <br />Email Address: legal@visatitans.com <br />Telephone number: (+20) 100 197 4001</p>
<p>Effective as of August 04, 2020</p>
</div>]]></Value>
    </describtionPrivacyPolicy>
    <describtionPrivacyPolicySEO>
      <Value><![CDATA[visa titans]]></Value>
    </describtionPrivacyPolicySEO>
    <headerPrivacyPolicy>
      <Value><![CDATA[<h4 class="title-desc-blog">Simplifying Travel Around The WorldFast &amp; easy service for your peace of mind!</h4>]]></Value>
    </headerPrivacyPolicy>
    <imagePrivacyPolicy>
      <Value><![CDATA[[
  {
    "key": "05730fc0-dbf7-4ffd-9d25-d08004a5daaf",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </imagePrivacyPolicy>
    <titleImagePrivacyPolicy>
      <Value><![CDATA[]]></Value>
    </titleImagePrivacyPolicy>
    <titlePrivacyPolicy>
      <Value><![CDATA[<h2>Privacy Policy</h2>]]></Value>
    </titlePrivacyPolicy>
    <titlePrivacyPolicySEO>
      <Value><![CDATA[Visa]]></Value>
    </titlePrivacyPolicySEO>
  </Properties>
</Content>