<?xml version="1.0" encoding="utf-8"?>
<Content Key="49ac6099-cf51-458b-b9a4-0c1f55dc7902" Alias="Ravi Motha" Level="2">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">Author</Parent>
    <Path>/Author/RaviMotha</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2022-11-10T12:56:15</CreateDate>
    <NodeName Default="Ravi Motha" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <altPhoto>
      <Value><![CDATA[]]></Value>
    </altPhoto>
    <authorTitle>
      <Value><![CDATA[]]></Value>
    </authorTitle>
    <describtionAuthor>
      <Value><![CDATA[]]></Value>
    </describtionAuthor>
    <photo>
      <Value><![CDATA[[
  {
    "key": "0c06b1be-25ab-4421-9811-20c03bab5017",
    "mediaKey": "55aaae1d-bfb4-4104-9463-033142964fcf",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </photo>
    <titleAuthor>
      <Value><![CDATA[]]></Value>
    </titleAuthor>
    <titlePhoto>
      <Value><![CDATA[]]></Value>
    </titlePhoto>
  </Properties>
</Content>