<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a3551a6-34db-46b3-a255-c881940c3986" Alias="reply to waris" Level="3">
  <Info>
    <Parent Key="c9041672-52b4-4c03-8909-43a2c94da0c2">waris khan-1277</Parent>
    <Path>/ArticleComments/warisKhan1277/replyToWaris</Path>
    <Trashed>false</Trashed>
    <ContentType>replyComments</ContentType>
    <CreateDate>2023-02-01T18:09:15</CreateDate>
    <NodeName Default="reply to waris" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <commentDate>
      <Value><![CDATA[1/12/2022]]></Value>
    </commentDate>
    <coName>
      <Value><![CDATA[]]></Value>
    </coName>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <message>
      <Value><![CDATA[hi i am here to help you.]]></Value>
    </message>
  </Properties>
</Content>