<?xml version="1.0" encoding="utf-8"?>
<Content Key="af5dc918-3639-49d8-8fc4-042f6c3da034" Alias="Tags" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tags</Path>
    <Trashed>false</Trashed>
    <ContentType>tags</ContentType>
    <CreateDate>2023-01-04T06:38:18</CreateDate>
    <NodeName Default="Tags" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eccb203c-887b-4c9d-8ee0-34a6b648ccf4">Tags</Template>
  </Info>
  <Properties />
</Content>