<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7b51040-9c33-4c16-a9d9-6bfef32be541" Alias="Testimonials" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Testimonials</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonialsPage</ContentType>
    <CreateDate>2022-11-16T17:50:52</CreateDate>
    <NodeName Default="Testimonials" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d11cbca-7f70-4284-a63a-fd40952dfc8e">TestimonialsPage</Template>
  </Info>
  <Properties>
    <altImageTestimonials>
      <Value><![CDATA[]]></Value>
    </altImageTestimonials>
    <customerNameTestimonials>
      <Value><![CDATA[]]></Value>
    </customerNameTestimonials>
    <describtionTestimonialsPageSEO>
      <Value><![CDATA[]]></Value>
    </describtionTestimonialsPageSEO>
    <imageTestimonials>
      <Value><![CDATA[[]]]></Value>
    </imageTestimonials>
    <textTestimonials>
      <Value><![CDATA[]]></Value>
    </textTestimonials>
    <titleImageTestimonials>
      <Value><![CDATA[]]></Value>
    </titleImageTestimonials>
    <titleTestimonialsPage>
      <Value><![CDATA[]]></Value>
    </titleTestimonialsPage>
    <titleTestimonialsPageSEO>
      <Value><![CDATA[]]></Value>
    </titleTestimonialsPageSEO>
  </Properties>
</Content>