<?xml version="1.0" encoding="utf-8"?>
<Content Key="c52aa501-2356-47fe-95e5-f89b34024348" Alias="United States of America" Level="2">
  <Info>
    <Parent Key="e81e9885-fcec-4a4d-9858-8993461bf483">LandPages</Parent>
    <Path>/LandPages/UnitedStatesOfAmerica</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2023-02-09T20:34:33</CreateDate>
    <NodeName Default="United States of America" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7388a0c7-abdb-481f-84da-c37b59d7804f">LandingPage</Template>
  </Info>
  <Properties>
    <addFAQustions>
      <Value><![CDATA[[
  {
    "key": "3b49367e-4208-40b2-80bc-ef4e356d99dc",
    "name": "<p>anser1</p>",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureDetails": "how to get visa of usa?",
    "featureName": "<p>anser1</p>"
  },
  {
    "key": "89040713-db28-456b-b8cf-be4947694f4f",
    "name": "<p>ans2</p>",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureDetails": "how to get study visa ?",
    "featureName": "<p>ans2</p>"
  }
]]]></Value>
    </addFAQustions>
    <bottomSectionDescription>
      <Value><![CDATA[<p>bottom title description here</p>]]></Value>
    </bottomSectionDescription>
    <bottomSectionTitle>
      <Value><![CDATA[Bottom title text]]></Value>
    </bottomSectionTitle>
    <describtioLandingSEO>
      <Value><![CDATA[]]></Value>
    </describtioLandingSEO>
    <fAQText>
      <Value><![CDATA[FAQS SECTION]]></Value>
    </fAQText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "d22afb83-42e2-40ea-aae3-a255976309d8",
    "mediaKey": "256549cb-0735-4df4-b948-70da0b299444"
  }
]]]></Value>
    </headerImage>
    <headerImageAlt>
      <Value><![CDATA[title]]></Value>
    </headerImageAlt>
    <headerImageDescription>
      <Value><![CDATA[<p>United States of America short intro descriptions</p>]]></Value>
    </headerImageDescription>
    <headerImageTitle>
      <Value><![CDATA[United States of America]]></Value>
    </headerImageTitle>
    <imageTopRequest>
      <Value><![CDATA[[]]]></Value>
    </imageTopRequest>
    <imageTopRequestAlt>
      <Value><![CDATA[]]></Value>
    </imageTopRequestAlt>
    <imageTopRequestSmall>
      <Value><![CDATA[[]]]></Value>
    </imageTopRequestSmall>
    <imageTopRequestSmallAlt>
      <Value><![CDATA[]]></Value>
    </imageTopRequestSmallAlt>
    <imageTopRequestSmallTitle>
      <Value><![CDATA[]]></Value>
    </imageTopRequestSmallTitle>
    <imageTopRequestTitle>
      <Value><![CDATA[]]></Value>
    </imageTopRequestTitle>
    <line1>
      <Value><![CDATA[]]></Value>
    </line1>
    <line2>
      <Value><![CDATA[]]></Value>
    </line2>
    <titleLandingSEO>
      <Value><![CDATA[]]></Value>
    </titleLandingSEO>
    <titleText1>
      <Value><![CDATA[]]></Value>
    </titleText1>
    <titleText2>
      <Value><![CDATA[]]></Value>
    </titleText2>
    <videoDescribtion>
      <Value><![CDATA[video description]]></Value>
    </videoDescribtion>
    <videoTitle>
      <Value><![CDATA[]]></Value>
    </videoTitle>
    <videoUrl>
      <Value><![CDATA[https://www.youtube.com/embed/tgbNymZ7vqY]]></Value>
    </videoUrl>
  </Properties>
</Content>