<?xml version="1.0" encoding="utf-8"?>
<Content Key="35df5e4a-fb77-439b-a477-8010ce18e043" Alias="United Kingdom" Level="2">
  <Info>
    <Parent Key="e81e9885-fcec-4a4d-9858-8993461bf483">LandPages</Parent>
    <Path>/LandPages/UnitedKingdom</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2023-02-09T15:02:22</CreateDate>
    <NodeName Default="United Kingdom" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7388a0c7-abdb-481f-84da-c37b59d7804f">LandingPage</Template>
  </Info>
  <Properties>
    <addFAQustions>
      <Value><![CDATA[[
  {
    "key": "695e85c6-29c7-476e-abbc-c90e97a549ea",
    "name": "<p>For China visa applications, stamped entering China visa is available. First of all, all foreigners with different passports have to fill in the formof a visa for China and gather the Chinese visa requirements.</p>",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureDetails": "How Do I Apply for a United kingdom Visa?",
    "featureName": "<p>For China visa applications, stamped entering China visa is available. First of all, all foreigners with different passports have to fill in the formof a visa for China and gather the Chinese visa requirements.</p>"
  },
  {
    "key": "7b4cb118-c4f4-43fa-aaa1-366ef31f5adc",
    "name": "<p>For China visa applications, stamped entering China visa is available. First of all, all foreigners with different passports have to fill in the formof a visa for China and gather the Chinese visa requirements.</p>",
    "ncContentTypeAlias": "feature",
    "PropType": null,
    "featureDetails": "How Do I Apply for a China Visa?",
    "featureName": "<p>For China visa applications, stamped entering China visa is available. First of all, all foreigners with different passports have to fill in the formof a visa for China and gather the Chinese visa requirements.</p>"
  }
]]]></Value>
    </addFAQustions>
    <bottomSectionDescription>
      <Value><![CDATA[]]></Value>
    </bottomSectionDescription>
    <bottomSectionTitle>
      <Value><![CDATA[]]></Value>
    </bottomSectionTitle>
    <describtioLandingSEO>
      <Value><![CDATA[]]></Value>
    </describtioLandingSEO>
    <fAQText>
      <Value><![CDATA[]]></Value>
    </fAQText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "92ec0230-cdb0-4227-8b45-701d122d966f",
    "mediaKey": "18018636-8f3b-4f91-97ba-210ac3c87d58"
  }
]]]></Value>
    </headerImage>
    <headerImageAlt>
      <Value><![CDATA[alt]]></Value>
    </headerImageAlt>
    <headerImageDescription>
      <Value><![CDATA[<p>United Kingdom shortintro text</p>]]></Value>
    </headerImageDescription>
    <headerImageTitle>
      <Value><![CDATA[United Kingdom]]></Value>
    </headerImageTitle>
    <imageTopRequest>
      <Value><![CDATA[[]]]></Value>
    </imageTopRequest>
    <imageTopRequestAlt>
      <Value><![CDATA[]]></Value>
    </imageTopRequestAlt>
    <imageTopRequestSmall>
      <Value><![CDATA[[]]]></Value>
    </imageTopRequestSmall>
    <imageTopRequestSmallAlt>
      <Value><![CDATA[]]></Value>
    </imageTopRequestSmallAlt>
    <imageTopRequestSmallTitle>
      <Value><![CDATA[]]></Value>
    </imageTopRequestSmallTitle>
    <imageTopRequestTitle>
      <Value><![CDATA[]]></Value>
    </imageTopRequestTitle>
    <line1>
      <Value><![CDATA[]]></Value>
    </line1>
    <line2>
      <Value><![CDATA[]]></Value>
    </line2>
    <titleLandingSEO>
      <Value><![CDATA[]]></Value>
    </titleLandingSEO>
    <titleText1>
      <Value><![CDATA[VisaTitans is a private agency and not affilated with any goverment, We provide expedited optional travel visa facilitaction for a service fee.]]></Value>
    </titleText1>
    <titleText2>
      <Value><![CDATA[Payment will be collected in USD, local currency is displayed for reference only]]></Value>
    </titleText2>
    <videoDescribtion>
      <Value><![CDATA[<p>What Documents Are Required For China Visa in the United States of America?| What Documents Are Required</p>]]></Value>
    </videoDescribtion>
    <videoTitle>
      <Value><![CDATA[]]></Value>
    </videoTitle>
    <videoUrl>
      <Value><![CDATA[tgbNymZ7vqY]]></Value>
    </videoUrl>
  </Properties>
</Content>