<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7600b4f-75cb-4ae3-88f6-1ac76ea57e0f" Alias="visa" Level="2">
  <Info>
    <Parent Key="0e309a98-83d6-4e99-9df1-6d6f09194842">SupCategorys</Parent>
    <Path>/SupCategorys/visa</Path>
    <Trashed>false</Trashed>
    <ContentType>subCategory</ContentType>
    <CreateDate>2022-11-29T13:48:22</CreateDate>
    <NodeName Default="visa" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="df7d7639-971e-405b-aaaa-f382ea66bcf8">SubCategory</Template>
  </Info>
  <Properties>
    <altPhotos>
      <Value><![CDATA[]]></Value>
    </altPhotos>
    <categoryName>
      <Value><![CDATA[]]></Value>
    </categoryName>
    <describtionSubCategorySEO>
      <Value><![CDATA[]]></Value>
    </describtionSubCategorySEO>
    <headerCat>
      <Value><![CDATA[<p>waleed</p>]]></Value>
    </headerCat>
    <headerDescription>
      <Value><![CDATA[]]></Value>
    </headerDescription>
    <photos>
      <Value><![CDATA[[]]]></Value>
    </photos>
    <titleCategorySEO>
      <Value><![CDATA[]]></Value>
    </titleCategorySEO>
    <titlePhotos>
      <Value><![CDATA[]]></Value>
    </titlePhotos>
  </Properties>
</Content>