<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccc8fd30-678d-4e57-94b8-7e6df217dcf0" Alias="Visa App Data" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VisaAppData</Path>
    <Trashed>false</Trashed>
    <ContentType>visaAppData</ContentType>
    <CreateDate>2023-03-18T00:49:45</CreateDate>
    <NodeName Default="Visa App Data" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>