<?xml version="1.0" encoding="utf-8"?>
<Content Key="be097ca3-f87a-41c7-a720-2cbb288fc9b0" Alias="VisaEgypt" Level="2">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Blog/VisaEgypt</Path>
    <Trashed>false</Trashed>
    <ContentType>mainCategory</ContentType>
    <CreateDate>2023-01-21T21:38:03</CreateDate>
    <NodeName Default="VisaEgypt" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="951017fb-dff2-4a24-9206-7cc00031be5a">MainCategory</Template>
  </Info>
  <Properties>
    <describtionSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </describtionSEOMainCategory>
    <headerMainCategory>
      <Value><![CDATA[]]></Value>
    </headerMainCategory>
    <imageMainCategory>
      <Value><![CDATA[[]]]></Value>
    </imageMainCategory>
    <titleSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </titleSEOMainCategory>
  </Properties>
</Content>