<?xml version="1.0" encoding="utf-8"?>
<Content Key="5786ae84-9d8e-42f5-8186-ccdb4ee7ddca" Alias="VisaBlog" Level="2">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Blog/VisaBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>mainCategory</ContentType>
    <CreateDate>2023-01-19T19:31:39</CreateDate>
    <NodeName Default="VisaBlog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="951017fb-dff2-4a24-9206-7cc00031be5a">MainCategory</Template>
  </Info>
  <Properties>
    <describtionSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </describtionSEOMainCategory>
    <headerMainCategory>
      <Value><![CDATA[<p>Text</p>]]></Value>
    </headerMainCategory>
    <imageMainCategory>
      <Value><![CDATA[[
  {
    "key": "b0368943-10ba-411e-93ba-48c83a477774",
    "mediaKey": "256549cb-0735-4df4-b948-70da0b299444"
  }
]]]></Value>
    </imageMainCategory>
    <titleSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </titleSEOMainCategory>
  </Properties>
</Content>