<?xml version="1.0" encoding="utf-8"?>
<Content Key="55bd8e48-9c88-434f-bdac-aa40868eeacd" Alias="Visa App" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VisaApp</Path>
    <Trashed>false</Trashed>
    <ContentType>visaApp</ContentType>
    <CreateDate>2023-03-16T14:06:01</CreateDate>
    <NodeName Default="Visa App" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d42dbcd-23b9-40ee-8ade-fee5ec223049">VisaApp</Template>
  </Info>
  <Properties />
</Content>