<?xml version="1.0" encoding="utf-8"?>
<Content Key="37698f6f-a9c4-43d7-bf5d-1788415f0194" Alias="waleed2022888" Level="2">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Category</Parent>
    <Path>/Category/waleed2022888</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-11-14T15:51:42</CreateDate>
    <NodeName Default="waleed2022888" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <altPhotos>
      <Value><![CDATA[waleed]]></Value>
    </altPhotos>
    <describtionCategorySEO>
      <Value><![CDATA[]]></Value>
    </describtionCategorySEO>
    <description>
      <Value><![CDATA[dddddddddddddddddddddddd]]></Value>
    </description>
    <photos>
      <Value><![CDATA[[
  {
    "key": "056d48f8-8a61-4dc0-88d8-31f9a403c258",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </photos>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
    <titleCategory>
      <Value><![CDATA[]]></Value>
    </titleCategory>
    <titleCategorySEO>
      <Value><![CDATA[]]></Value>
    </titleCategorySEO>
  </Properties>
</Content>