<?xml version="1.0" encoding="utf-8"?>
<Content Key="4654cf7a-7c58-41d7-9671-5da07fcf5485" Alias="Waleed2022**5500" Level="3">
  <Info>
    <Parent Key="be097ca3-f87a-41c7-a720-2cbb288fc9b0">VisaEgypt</Parent>
    <Path>/Blog/VisaEgypt/Waleed2022starstar5500</Path>
    <Trashed>false</Trashed>
    <ContentType>subArticle</ContentType>
    <CreateDate>2023-01-29T22:47:39</CreateDate>
    <NodeName Default="Waleed2022**5500" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d84af0e-0c87-4077-88ea-7cb54ffd8119">SubArticle</Template>
  </Info>
  <Properties>
    <addQA>
      <Value><![CDATA[]]></Value>
    </addQA>
    <altImageSize1>
      <Value><![CDATA[]]></Value>
    </altImageSize1>
    <altImageSize3>
      <Value><![CDATA[]]></Value>
    </altImageSize3>
    <altimagSize2>
      <Value><![CDATA[]]></Value>
    </altimagSize2>
    <authorName>
      <Value><![CDATA[umb://document/3267e502fcf04e46872184f21febd037]]></Value>
    </authorName>
    <blogArticle>
      <Value><![CDATA[<p>fhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhwlmfeowjfopewpofjeowjfoWJEOgo</p>
<p>fhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhwlmfeowjfopewpofjeowjfoWJEOgo</p>]]></Value>
    </blogArticle>
    <dateBlogPost>
      <Value><![CDATA[2023-01-29T12:00:00]]></Value>
    </dateBlogPost>
    <describtion>
      <Value><![CDATA[<p>fhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhwlmfeowjfopewpofjeowjfoWJEOgo</p>]]></Value>
    </describtion>
    <describtionBlogpost>
      <Value><![CDATA[]]></Value>
    </describtionBlogpost>
    <imageSize1>
      <Value><![CDATA[[
  {
    "key": "0c80c029-b89b-42de-a4a6-1ec798a2fae5",
    "mediaKey": "21923abc-d41b-4903-85bf-4e960bc6d817"
  }
]]]></Value>
    </imageSize1>
    <imagesize2>
      <Value><![CDATA[[
  {
    "key": "8307f18f-5f5c-4838-b26b-1d51d8e29a67",
    "mediaKey": "aafa69fa-2e68-4758-a572-6bb37886a995"
  }
]]]></Value>
    </imagesize2>
    <imageSize3>
      <Value><![CDATA[[
  {
    "key": "4b8b3a31-b8d3-4ac3-b121-5f438a3e38d5",
    "mediaKey": "aafa69fa-2e68-4758-a572-6bb37886a995"
  }
]]]></Value>
    </imageSize3>
    <isBlogOrArticle>
      <Value><![CDATA[]]></Value>
    </isBlogOrArticle>
    <tag>
      <Value><![CDATA[]]></Value>
    </tag>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleHeaderBlog>
      <Value><![CDATA[Visa Demo]]></Value>
    </titleHeaderBlog>
    <visaLink>
      <Value><![CDATA[https://localhost:44380/umbraco#/content/content/edit/1262?mculture=fr&list=1122&page=1&filter=&orderBy=updateDate&orderDirection=asc&doctype=subArticle&create=true]]></Value>
    </visaLink>
  </Properties>
</Content>