<?xml version="1.0" encoding="utf-8"?>
<Content Key="7434fc94-76e1-46cb-b2d6-eabd29bb4b7a" Alias="waleed" Level="2">
  <Info>
    <Parent Key="2d6a9ddf-59e8-4040-b8b4-cf0c3f80b41c">Articles Main</Parent>
    <Path>/ArticlesMain/waleed</Path>
    <Trashed>false</Trashed>
    <ContentType>articlesItem</ContentType>
    <CreateDate>2023-01-18T14:25:14</CreateDate>
    <NodeName Default="waleed" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1ce5fb50-d8b2-47ba-9f9f-9599179bf91f">ArticlesItem</Template>
  </Info>
  <Properties>
    <articleContent>
      <Value><![CDATA[<p>We still need to add the child nodes which will be displayed in the list view making it easier to view them. You can create new nodes from this section.</p>]]></Value>
    </articleContent>
    <articleTitle>
      <Value><![CDATA[waleed]]></Value>
    </articleTitle>
  </Properties>
</Content>