<?xml version="1.0" encoding="utf-8"?>
<Content Key="67260e95-5eca-407f-9fff-ac1708eca49e" Alias="Waleed2022" Level="3">
  <Info>
    <Parent Key="be097ca3-f87a-41c7-a720-2cbb288fc9b0">VisaEgypt</Parent>
    <Path>/Blog/VisaEgypt/Waleed2022</Path>
    <Trashed>false</Trashed>
    <ContentType>subArticle</ContentType>
    <CreateDate>2023-01-25T00:43:59</CreateDate>
    <NodeName Default="Waleed2022" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d84af0e-0c87-4077-88ea-7cb54ffd8119">SubArticle</Template>
  </Info>
  <Properties>
    <addQA>
      <Value><![CDATA[]]></Value>
    </addQA>
    <altImageSize1>
      <Value><![CDATA[]]></Value>
    </altImageSize1>
    <altImageSize3>
      <Value><![CDATA[]]></Value>
    </altImageSize3>
    <altimagSize2>
      <Value><![CDATA[]]></Value>
    </altimagSize2>
    <authorName>
      <Value><![CDATA[umb://document/3267e502fcf04e46872184f21febd037]]></Value>
    </authorName>
    <blogArticle>
      <Value><![CDATA[]]></Value>
    </blogArticle>
    <dateBlogPost>
      <Value><![CDATA[2023-01-29T12:00:00]]></Value>
    </dateBlogPost>
    <describtion>
      <Value><![CDATA[<p>which was and continues to be a very ethnically diverse community. For that reason,<br />I didn’t feel like an outsider or foreigner. My brothers and I made friends with other</p>]]></Value>
    </describtion>
    <describtionBlogpost>
      <Value><![CDATA[]]></Value>
    </describtionBlogpost>
    <imageSize1>
      <Value><![CDATA[[
  {
    "key": "da93ac5f-ad4c-4c57-8067-77ad7ed52f42",
    "mediaKey": "18018636-8f3b-4f91-97ba-210ac3c87d58"
  }
]]]></Value>
    </imageSize1>
    <imagesize2>
      <Value><![CDATA[[
  {
    "key": "0564a2ed-4d64-4617-b85f-b920cf7501b1",
    "mediaKey": "aafa69fa-2e68-4758-a572-6bb37886a995"
  }
]]]></Value>
    </imagesize2>
    <imageSize3>
      <Value><![CDATA[[
  {
    "key": "1207ec3b-2497-434d-8c47-51f2a090d6f7",
    "mediaKey": "aafa69fa-2e68-4758-a572-6bb37886a995"
  }
]]]></Value>
    </imageSize3>
    <isBlogOrArticle>
      <Value><![CDATA[]]></Value>
    </isBlogOrArticle>
    <tag>
      <Value><![CDATA[]]></Value>
    </tag>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <titleHeaderBlog>
      <Value><![CDATA[Waleed2022]]></Value>
    </titleHeaderBlog>
    <visaLink>
      <Value><![CDATA[]]></Value>
    </visaLink>
  </Properties>
</Content>