<?xml version="1.0" encoding="utf-8"?>
<Content Key="5810e3a3-acf2-44a3-9555-b04c5f23f2a1" Alias="waleed-1277" Level="2">
  <Info>
    <Parent Key="70ba4f49-bc5f-4df7-9e81-d5968428692f">Article Comments</Parent>
    <Path>/ArticleComments/waleed1277</Path>
    <Trashed>false</Trashed>
    <ContentType>mainComments</ContentType>
    <CreateDate>2023-02-01T17:33:25</CreateDate>
    <NodeName Default="waleed-1277" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <articlePageId>
      <Value><![CDATA[1277]]></Value>
    </articlePageId>
    <articlePageName>
      <Value><![CDATA[habiba]]></Value>
    </articlePageName>
    <commentDate>
      <Value><![CDATA[Wednesday, 01 February 2023]]></Value>
    </commentDate>
    <coName>
      <Value><![CDATA[waleed]]></Value>
    </coName>
    <email>
      <Value><![CDATA[waleed@yahoo.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[waleed text here]]></Value>
    </message>
  </Properties>
</Content>