<?xml version="1.0" encoding="utf-8"?>
<Content Key="835d2e2d-92c0-4753-b5ed-bc333ace9ac9" Alias="Waleed" Level="2">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Blog/Waleed</Path>
    <Trashed>false</Trashed>
    <ContentType>mainCategory</ContentType>
    <CreateDate>2023-01-23T21:28:23</CreateDate>
    <NodeName Default="Waleed" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="951017fb-dff2-4a24-9206-7cc00031be5a">MainCategory</Template>
  </Info>
  <Properties>
    <describtionSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </describtionSEOMainCategory>
    <headerMainCategory>
      <Value><![CDATA[]]></Value>
    </headerMainCategory>
    <imageMainCategory>
      <Value><![CDATA[[]]]></Value>
    </imageMainCategory>
    <titleSEOMainCategory>
      <Value><![CDATA[]]></Value>
    </titleSEOMainCategory>
  </Properties>
</Content>