<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe6cac33-ec12-412c-910f-3eaba25de0c7" Alias="Waleedblog" Level="3">
  <Info>
    <Parent Key="be097ca3-f87a-41c7-a720-2cbb288fc9b0">VisaEgypt</Parent>
    <Path>/Blog/VisaEgypt/Waleedblog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2023-01-25T00:57:53</CreateDate>
    <NodeName Default="Waleedblog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <blogNameTitle>
      <Value><![CDATA[Waleedblog]]></Value>
    </blogNameTitle>
    <BlogsHeaderTitle>
      <Value><![CDATA[]]></Value>
    </BlogsHeaderTitle>
    <imageBlogspost>
      <Value><![CDATA[[]]]></Value>
    </imageBlogspost>
  </Properties>
</Content>