<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc01ea13-f9df-42e6-8360-a9f9cf4d58ba" Alias="WaleeeeeeeeeeeedDev" Level="3">
  <Info>
    <Parent Key="44137f5f-c5ca-4d70-8c56-b479393c7c56">Waleeddev</Parent>
    <Path>/Blog/Waleeddev/WaleeeeeeeeeeeedDev</Path>
    <Trashed>false</Trashed>
    <ContentType>subArticle</ContentType>
    <CreateDate>2023-01-29T13:05:42</CreateDate>
    <NodeName Default="WaleeeeeeeeeeeedDev" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d84af0e-0c87-4077-88ea-7cb54ffd8119">SubArticle</Template>
  </Info>
  <Properties>
    <addQA>
      <Value><![CDATA[]]></Value>
    </addQA>
    <altImageSize1>
      <Value><![CDATA[]]></Value>
    </altImageSize1>
    <altImageSize3>
      <Value><![CDATA[]]></Value>
    </altImageSize3>
    <altimagSize2>
      <Value><![CDATA[]]></Value>
    </altimagSize2>
    <authorName>
      <Value><![CDATA[umb://document/3267e502fcf04e46872184f21febd037]]></Value>
    </authorName>
    <blogArticle>
      <Value><![CDATA[<p>Waleed2022** ***</p>]]></Value>
    </blogArticle>
    <dateBlogPost>
      <Value><![CDATA[2023-01-29T12:00:00]]></Value>
    </dateBlogPost>
    <describtion>
      <Value><![CDATA[<p>Original employment certificate issued by the applicant's employer printed on company letterhead. The letter must be addressed to the Embassy of China, Visa Section, Alexandria. Please prepare the letter as per the following guidelines: Briefly introduce the applicant and include the applicant's name, age, gender, passport number and current employment status. State the applicant's employment duration, job title and current monthly salary. State that the applicant has been granted permission to leave and that they shall resume working in their current position upon their return. Business owners must present the original and a copy of the company’s commercial/trade register and tax card. Students must present a proof of enrolment issued by their school or university.</p>]]></Value>
    </describtion>
    <describtionBlogpost>
      <Value><![CDATA[]]></Value>
    </describtionBlogpost>
    <imageSize1>
      <Value><![CDATA[[
  {
    "key": "11c63f74-5b65-4ddb-a53d-bdbb96cc3af3",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </imageSize1>
    <imagesize2>
      <Value><![CDATA[[
  {
    "key": "33420495-dfbe-4259-9579-8304ba0a872c",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </imagesize2>
    <imageSize3>
      <Value><![CDATA[[
  {
    "key": "d6f7f91e-ee49-4c2b-b699-a65244282e03",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </imageSize3>
    <isBlogOrArticle>
      <Value><![CDATA[]]></Value>
    </isBlogOrArticle>
    <tag>
      <Value><![CDATA[]]></Value>
    </tag>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <visaLink>
      <Value><![CDATA[https://localhost:44380/umbraco#/content/content/edit/1288?mculture=fr&list=1122&page=1&filter=&orderBy=updateDate&orderDirection=asc&doctype=subArticle&create=true]]></Value>
    </visaLink>
  </Properties>
</Content>