<?xml version="1.0" encoding="utf-8"?>
<Content Key="655fece2-29d8-4bf6-ba9e-3e0475155892" Alias="WaleedAbdelRasheed" Level="2">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">Author</Parent>
    <Path>/Author/WaleedAbdelRasheed</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2022-11-14T12:28:44</CreateDate>
    <NodeName Default="WaleedAbdelRasheed" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <altPhoto>
      <Value><![CDATA[]]></Value>
    </altPhoto>
    <authorTitle>
      <Value><![CDATA[]]></Value>
    </authorTitle>
    <describtionAuthor>
      <Value><![CDATA[]]></Value>
    </describtionAuthor>
    <photo>
      <Value><![CDATA[[
  {
    "key": "2575a0f7-ebba-446e-998a-6ec065fceaac",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </photo>
    <titleAuthor>
      <Value><![CDATA[]]></Value>
    </titleAuthor>
    <titlePhoto>
      <Value><![CDATA[]]></Value>
    </titlePhoto>
  </Properties>
</Content>