<?xml version="1.0" encoding="utf-8"?>
<Content Key="551d36fe-2ba6-44bc-99a3-649b747031a2" Alias="Waleed" Level="2">
  <Info>
    <Parent Key="0e309a98-83d6-4e99-9df1-6d6f09194842">SupCategorys</Parent>
    <Path>/SupCategorys/Waleed</Path>
    <Trashed>false</Trashed>
    <ContentType>subCategory</ContentType>
    <CreateDate>2022-11-29T15:49:26</CreateDate>
    <NodeName Default="Waleed" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="df7d7639-971e-405b-aaaa-f382ea66bcf8">SubCategory</Template>
  </Info>
  <Properties>
    <altPhotos>
      <Value><![CDATA[welcome to Visa]]></Value>
    </altPhotos>
    <categoryName>
      <Value><![CDATA[umb://document/37698f6fa9c443d7bf5d1788415f0194]]></Value>
    </categoryName>
    <describtionSubCategorySEO>
      <Value><![CDATA[Our Landing Selection]]></Value>
    </describtionSubCategorySEO>
    <headerCat>
      <Value><![CDATA[<p>Waleed</p>]]></Value>
    </headerCat>
    <headerDescription>
      <Value><![CDATA[<p>Waleed</p>]]></Value>
    </headerDescription>
    <photos>
      <Value><![CDATA[[
  {
    "key": "27c892f1-82ac-49a1-b0ec-cc37f0f05fbc",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </photos>
    <titleCategorySEO>
      <Value><![CDATA[welcome to Visa]]></Value>
    </titleCategorySEO>
    <titlePhotos>
      <Value><![CDATA[Our Landing Selection]]></Value>
    </titlePhotos>
  </Properties>
</Content>