<?xml version="1.0" encoding="utf-8"?>
<Content Key="06a1174d-9cc9-44a8-b7bf-564ce96f67a7" Alias="Waleed" Level="3">
  <Info>
    <Parent Key="b7dc3a67-c49b-451c-a485-4a0dc33d7473">Saudi Work Visa</Parent>
    <Path>/Blog/SaudiWorkVisa/Waleed</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2023-01-23T16:16:09</CreateDate>
    <NodeName Default="Waleed" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <addQA>
      <Value><![CDATA[]]></Value>
    </addQA>
    <altImageBlogpost>
      <Value><![CDATA[]]></Value>
    </altImageBlogpost>
    <altImageSize3>
      <Value><![CDATA[]]></Value>
    </altImageSize3>
    <altimagSize2>
      <Value><![CDATA[]]></Value>
    </altimagSize2>
    <authorName>
      <Value><![CDATA[]]></Value>
    </authorName>
    <blogArticle>
      <Value><![CDATA[<p>rrrr</p>]]></Value>
    </blogArticle>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <dateBlogPost>
      <Value><![CDATA[]]></Value>
    </dateBlogPost>
    <describtion>
      <Value><![CDATA[]]></Value>
    </describtion>
    <describtionBlogpost>
      <Value><![CDATA[]]></Value>
    </describtionBlogpost>
    <imageBlogpost>
      <Value><![CDATA[[]]]></Value>
    </imageBlogpost>
    <imagesize2>
      <Value><![CDATA[[]]]></Value>
    </imagesize2>
    <imageSize3>
      <Value><![CDATA[[]]]></Value>
    </imageSize3>
    <isBlogOrArticle>
      <Value><![CDATA[]]></Value>
    </isBlogOrArticle>
    <pageTitle>
      <Value><![CDATA[<p>rrr</p>]]></Value>
    </pageTitle>
    <tag>
      <Value><![CDATA[]]></Value>
    </tag>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <visaLink>
      <Value><![CDATA[https://localhost:44380/umbraco#/content/content/edit/1270?mculture=fr]]></Value>
    </visaLink>
  </Properties>
</Content>