<?xml version="1.0" encoding="utf-8"?>
<Content Key="3267e502-fcf0-4e46-8721-84f21febd037" Alias="waleedAbdelrasheed2022" Level="2">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">Author</Parent>
    <Path>/Author/waleedAbdelrasheed2022</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-01-25T15:59:08</CreateDate>
    <NodeName Default="waleedAbdelrasheed2022" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <altPhoto>
      <Value><![CDATA[welcome to Visa]]></Value>
    </altPhoto>
    <authorTitle>
      <Value><![CDATA[<p>The Asian American and Pacific Islander (AAPI) community is vibrant and diverse, encompassing the beautiful differences of many cultures, languages, and experiences. However diverse we are, we continue to be threaded together through “otherness.” Being othered has allowed racism to fester, leading to the most recent surge of violence against the AAPI community.Between March 2020 – February 2021, there were 3,795 anti-Asian hate incident cases reported and about 2/3 of reported cases are by women1; many believe these statistics are</p>]]></Value>
    </authorTitle>
    <describtionAuthor>
      <Value><![CDATA[]]></Value>
    </describtionAuthor>
    <photo>
      <Value><![CDATA[[
  {
    "key": "7b00e281-910c-4f45-9033-992f006685ef",
    "mediaKey": "5218a67c-9483-4019-818b-e68a9f967053"
  }
]]]></Value>
    </photo>
    <titleAuthor>
      <Value><![CDATA[]]></Value>
    </titleAuthor>
    <titlePhoto>
      <Value><![CDATA[waleed]]></Value>
    </titlePhoto>
  </Properties>
</Content>