<?xml version="1.0" encoding="utf-8"?>
<Content Key="e08f89bc-fe87-4550-bf85-923922367eba" Alias="waris khan-1279" Level="2">
  <Info>
    <Parent Key="70ba4f49-bc5f-4df7-9e81-d5968428692f">Article Comments</Parent>
    <Path>/ArticleComments/warisKhan1279</Path>
    <Trashed>false</Trashed>
    <ContentType>mainComments</ContentType>
    <CreateDate>2023-02-22T19:08:30</CreateDate>
    <NodeName Default="waris khan-1279" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <articlePageId>
      <Value><![CDATA[1279]]></Value>
    </articlePageId>
    <articlePageName>
      <Value><![CDATA[Orbscob]]></Value>
    </articlePageName>
    <commentDate>
      <Value><![CDATA[Wednesday, 22 February 2023]]></Value>
    </commentDate>
    <coName>
      <Value><![CDATA[waris khan]]></Value>
    </coName>
    <email>
      <Value><![CDATA[waris@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[asd]]></Value>
    </message>
  </Properties>
</Content>