<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6f23615-6a81-4842-be55-86baeb07e896" Alias="wariskhan (1)" Level="2">
  <Info>
    <Parent Key="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">Visa App Data</Parent>
    <Path>/VisaAppData/wariskhan1</Path>
    <Trashed>false</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-21T23:43:39</CreateDate>
    <NodeName Default="wariskhan (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[sss]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[sss]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[sss]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[waris]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[house]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Female]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[assss]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[No]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[khan]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[nationa987987]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[othername]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2027-03-04T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-04-03T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[333333]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[birth place]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Algeria]]></Value>
    </previousNationality>
    <streetNameNumber>
      <Value><![CDATA[ssss]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[surename]]></Value>
    </surname>
    <zipPostcode>
      <Value><![CDATA[sssss]]></Value>
    </zipPostcode>
  </Properties>
</Content>