<?xml version="1.0" encoding="utf-8"?>
<Content Key="9288eaf4-365d-4ed3-bf6b-e710a35bd414" Alias="waris khan" Level="2">
  <Info>
    <Parent Key="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">Visa App Data</Parent>
    <Path>/VisaAppData/warisKhan</Path>
    <Trashed>false</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-23T15:25:42</CreateDate>
    <NodeName Default="waris khan" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[ddd]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[fff]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[ggg]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[waris]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[wsdd]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[sssss]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[khan]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[344444]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[khan]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2026-03-02T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-04-04T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[4555555]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[dddd]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </previousNationality>
    <servicesItems>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "addServices",
    "serviceName": "Flight Reservation",
    "userName": "",
    "key": "18a28bd3-a83a-42d6-b42f-70cd8de4f370"
  },
  {
    "ncContentTypeAlias": "addServices",
    "serviceName": "Hotel Booking",
    "userName": "",
    "key": "402b2233-e965-437f-8640-c6c138d5d9e3"
  }
]]]></Value>
    </servicesItems>
    <streetNameNumber>
      <Value><![CDATA[fff]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[khan]]></Value>
    </surname>
    <visaRequirementItems>
      <Value><![CDATA[[]]]></Value>
    </visaRequirementItems>
    <zipPostcode>
      <Value><![CDATA[ffff]]></Value>
    </zipPostcode>
  </Properties>
</Content>