<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd096901-184f-4562-b88c-1a777cdd4253" Alias="waris khan" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/warisKhan</Path>
    <Trashed Parent="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">true</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-23T14:40:57</CreateDate>
    <NodeName Default="waris khan" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[ffff]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[rrrr]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[fffff]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[waris]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[wss]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[ddddd]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[khan]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[344444]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[khan]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2026-02-03T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-02-03T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[4555555]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[dddd]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </previousNationality>
    <servicesItems>
      <Value><![CDATA[]]></Value>
    </servicesItems>
    <streetNameNumber>
      <Value><![CDATA[dddd]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[khan]]></Value>
    </surname>
    <visaRequirementItems>
      <Value><![CDATA[]]></Value>
    </visaRequirementItems>
    <zipPostcode>
      <Value><![CDATA[54000]]></Value>
    </zipPostcode>
  </Properties>
</Content>