<?xml version="1.0" encoding="utf-8"?>
<Content Key="675d1682-4ea4-4699-b2e7-309df3cd2246" Alias="wariskhan (2)" Level="2">
  <Info>
    <Parent Key="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">Visa App Data</Parent>
    <Path>/VisaAppData/wariskhan2</Path>
    <Trashed>false</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-22T17:10:20</CreateDate>
    <NodeName Default="wariskhan (2)" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[dd]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[dddd]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[fff]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[wasd]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[ff]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Female]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[dfffff]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[ddd]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[4444]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[dddd]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2026-05-05T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-03-05T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[33444]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[dddd]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </previousNationality>
    <streetNameNumber>
      <Value><![CDATA[ddd]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[sss]]></Value>
    </surname>
    <visaRequirementItems>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "visaRequirmentData",
    "applicantName": "waris",
    "destinationCountry": "isb",
    "visaType": "business",
    "processing": "1",
    "totalFee": "12",
    "key": "6655ba98-1db8-44bc-89bf-622cd2c989d8"
  },
  {
    "ncContentTypeAlias": "visaRequirmentData",
    "applicantName": "khan",
    "destinationCountry": "isb",
    "visaType": "visa",
    "processing": "2",
    "totalFee": "123",
    "key": "0fc7c12f-07cb-49bf-a277-d64ecb7b176c"
  }
]]]></Value>
    </visaRequirementItems>
    <zipPostcode>
      <Value><![CDATA[ffff]]></Value>
    </zipPostcode>
  </Properties>
</Content>