<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f046705-82a3-411a-b1c2-86c8df00c0a2" Alias="wariskhan (1)" Level="2">
  <Info>
    <Parent Key="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">Visa App Data</Parent>
    <Path>/VisaAppData/wariskhan1</Path>
    <Trashed>false</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-22T15:33:30</CreateDate>
    <NodeName Default="wariskhan (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[wsss]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[sssss]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[sss]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[was]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[Lahore]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Female]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[ssdddd]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[sss]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[333333]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[ssss]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2026-02-03T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-04-04T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[23333]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[wasss]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </previousNationality>
    <streetNameNumber>
      <Value><![CDATA[ssss]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[ssss]]></Value>
    </surname>
    <zipPostcode>
      <Value><![CDATA[54000]]></Value>
    </zipPostcode>
  </Properties>
</Content>