<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0ab9f94-43f4-4518-a28e-309bd01d2798" Alias="waris khn" Level="2">
  <Info>
    <Parent Key="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">Visa App Data</Parent>
    <Path>/VisaAppData/warisKhn</Path>
    <Trashed>false</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-23T17:25:51</CreateDate>
    <NodeName Default="waris khn" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[area name]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[building]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[city]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[15 -05-1994]]></Value>
    </dateOfBirth>
    <destinationCountry>
      <Value><![CDATA[Austria]]></Value>
    </destinationCountry>
    <firstName>
      <Value><![CDATA[waris]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[House number]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[sssss]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[Khan]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[344444]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[khan]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2026-03-03T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-03-03T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[4555555]]></Value>
    </passportNumber>
    <paymentDetails>
      <Value><![CDATA[]]></Value>
    </paymentDetails>
    <paymentType>
      <Value><![CDATA[Cash]]></Value>
    </paymentType>
    <placeOfBirth>
      <Value><![CDATA[Pakistan]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </previousNationality>
    <servicesItems>
      <Value><![CDATA[[
  {
    "key": "6fbe0e43-0411-45b2-9613-5c1bad955148",
    "name": "Hotel Booking",
    "ncContentTypeAlias": "addServices",
    "PropType": null,
    "serviceName": "Hotel Booking",
    "userName": ""
  },
  {
    "key": "ddefce8f-f411-4f58-b131-7725c103adfa",
    "name": "Flight Reservation",
    "ncContentTypeAlias": "addServices",
    "PropType": null,
    "serviceName": "Flight Reservation",
    "userName": ""
  }
]]]></Value>
    </servicesItems>
    <streetNameNumber>
      <Value><![CDATA[street number]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[khan]]></Value>
    </surname>
    <visaRequirementItems>
      <Value><![CDATA[[
  {
    "key": "f16dfd81-ec29-49fe-849d-000121051d6e",
    "name": "Item 1",
    "ncContentTypeAlias": "visaRequirmentData",
    "PropType": null,
    "applicantName": "",
    "destinationCountry": "United Kingdom",
    "visaType": "Business visa",
    "processing": "",
    "totalFee": "28.32"
  }
]]]></Value>
    </visaRequirementItems>
    <zipPostcode>
      <Value><![CDATA[zip]]></Value>
    </zipPostcode>
  </Properties>
</Content>