<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0b180cf-243e-47de-a892-1c0bf56892f0" Alias="waris khan (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/warisKhan1</Path>
    <Trashed Parent="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">true</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-23T14:44:57</CreateDate>
    <NodeName Default="waris khan (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[dddd]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[dddd]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[dddd]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[waris]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[wasdd]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[sssss]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[khan]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[344444]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[khan]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2026-05-05T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-04-02T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[4555555]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[dddd]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </previousNationality>
    <servicesItems>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "addServices",
    "serviceName": "Hotel Booking",
    "userName": "Hotel Booking",
    "key": "7fc763c2-9bd6-4669-b871-785a654ee874"
  },
  {
    "ncContentTypeAlias": "addServices",
    "serviceName": "Travel Insurance",
    "userName": "Travel Insurance",
    "key": "c1bff1a0-78e0-41b9-beb3-f4f345049bda"
  }
]]]></Value>
    </servicesItems>
    <streetNameNumber>
      <Value><![CDATA[ddd]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[khan]]></Value>
    </surname>
    <visaRequirementItems>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "visaRequirmentData",
    "applicantName": "waris",
    "destinationCountry": "isb",
    "visaType": "business",
    "processing": "1",
    "totalFee": "12",
    "key": "16a01265-c2e3-48ae-9ee0-953a8f6fbcaf"
  },
  {
    "ncContentTypeAlias": "visaRequirmentData",
    "applicantName": "khan",
    "destinationCountry": "isb",
    "visaType": "visa",
    "processing": "2",
    "totalFee": "123",
    "key": "8d643082-081e-43f1-a213-4c05ec76bda9"
  }
]]]></Value>
    </visaRequirementItems>
    <zipPostcode>
      <Value><![CDATA[ffff]]></Value>
    </zipPostcode>
  </Properties>
</Content>