<?xml version="1.0" encoding="utf-8"?>
<Content Key="de766b28-7341-4e2a-9168-a58fa5b10265" Alias="wariskhan (2)" Level="2">
  <Info>
    <Parent Key="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">Visa App Data</Parent>
    <Path>/VisaAppData/wariskhan2</Path>
    <Trashed>false</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-22T15:06:14</CreateDate>
    <NodeName Default="wariskhan (2)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[ddd]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[ggg]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[ggg]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[assd]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[dfff]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Female]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[IT]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[dddd]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[22233333]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[dddddd]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2027-05-04T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-03-04T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[344555]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[dd]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </previousNationality>
    <streetNameNumber>
      <Value><![CDATA[fff]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[ddddd]]></Value>
    </surname>
    <zipPostcode>
      <Value><![CDATA[ffff]]></Value>
    </zipPostcode>
  </Properties>
</Content>