<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ad9ba45-1b6a-4af6-ba9f-59eeca486b79" Alias="wasd ffff" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/wasdFfff</Path>
    <Trashed Parent="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">true</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-23T15:37:34</CreateDate>
    <NodeName Default="wasd ffff" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[ddd]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[ffff]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[Lahore]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[wasd]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[Lahore]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Male]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[ddddd]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[ffff]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[344444]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[ffffff]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2026-04-04T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2030-04-04T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[4555555]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[wasdd]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </previousNationality>
    <servicesItems>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "addServices",
    "serviceName": "Hotel Booking",
    "userName": "",
    "key": "a609e260-db77-4273-bcf9-c4e464f2b9ef"
  },
  {
    "ncContentTypeAlias": "addServices",
    "serviceName": "Translation",
    "userName": "",
    "key": "2add2553-d5fe-4f78-b7d0-d528c75d81df"
  }
]]]></Value>
    </servicesItems>
    <streetNameNumber>
      <Value><![CDATA[Lahore]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[ddddd]]></Value>
    </surname>
    <visaRequirementItems>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "visaRequirmentData",
    "applicantName": "\n                                         \n                                            \n                                        \n                                    ",
    "destinationCountry": "United Kingdom",
    "visaType": "Business visa",
    "processing": "\n                                         \n                                            \n                                        \n                                    ",
    "totalFee": "28.32",
    "key": "a8b21612-633c-4094-8da6-331c0014d2ef"
  }
]]]></Value>
    </visaRequirementItems>
    <zipPostcode>
      <Value><![CDATA[54000]]></Value>
    </zipPostcode>
  </Properties>
</Content>