<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b980049-1b0a-4ca9-8e73-abaaf84e5654" Alias="wass ddd" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/wassDdd</Path>
    <Trashed Parent="ccc8fd30-678d-4e57-94b8-7e6df217dcf0">true</Trashed>
    <ContentType>visaAppDetails</ContentType>
    <CreateDate>2023-03-22T23:35:54</CreateDate>
    <NodeName Default="wass ddd" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <areaName>
      <Value><![CDATA[ff]]></Value>
    </areaName>
    <areYouInvitedByACompany>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByACompany>
    <areYouInvitedByAFamilyOrAFriend>
      <Value><![CDATA[No]]></Value>
    </areYouInvitedByAFamilyOrAFriend>
    <buildingNameNumber>
      <Value><![CDATA[ff]]></Value>
    </buildingNameNumber>
    <city>
      <Value><![CDATA[ddd]]></Value>
    </city>
    <currentNationality>
      <Value><![CDATA[Afghanistan]]></Value>
    </currentNationality>
    <dateOfBirth>
      <Value><![CDATA[]]></Value>
    </dateOfBirth>
    <firstName>
      <Value><![CDATA[wass]]></Value>
    </firstName>
    <flatHouseNumber>
      <Value><![CDATA[edd]]></Value>
    </flatHouseNumber>
    <gender>
      <Value><![CDATA[Female]]></Value>
    </gender>
    <highestDegreeYouHaveCompleted>
      <Value><![CDATA[edfrrr]]></Value>
    </highestDegreeYouHaveCompleted>
    <hOMEDETAILS>
      <Value><![CDATA[]]></Value>
    </hOMEDETAILS>
    <isApplicantAMinor>
      <Value><![CDATA[Yes]]></Value>
    </isApplicantAMinor>
    <maritalStatus>
      <Value><![CDATA[Married]]></Value>
    </maritalStatus>
    <middleName>
      <Value><![CDATA[ddd]]></Value>
    </middleName>
    <mobilePhoneNumber>
      <Value><![CDATA[]]></Value>
    </mobilePhoneNumber>
    <nationalIdentityNumber>
      <Value><![CDATA[344444]]></Value>
    </nationalIdentityNumber>
    <otherNames>
      <Value><![CDATA[ddd]]></Value>
    </otherNames>
    <passportDate>
      <Value><![CDATA[2026-05-05T00:00:00]]></Value>
    </passportDate>
    <passportExpireDate>
      <Value><![CDATA[2027-04-04T00:00:00]]></Value>
    </passportExpireDate>
    <pASSPORTINFORMATION>
      <Value><![CDATA[]]></Value>
    </pASSPORTINFORMATION>
    <passportNumber>
      <Value><![CDATA[4555555]]></Value>
    </passportNumber>
    <placeOfBirth>
      <Value><![CDATA[esddd]]></Value>
    </placeOfBirth>
    <previousNationality>
      <Value><![CDATA[Angola]]></Value>
    </previousNationality>
    <streetNameNumber>
      <Value><![CDATA[fff]]></Value>
    </streetNameNumber>
    <surname>
      <Value><![CDATA[dddd]]></Value>
    </surname>
    <visaRequirementItems>
      <Value><![CDATA[]]></Value>
    </visaRequirementItems>
    <zipPostcode>
      <Value><![CDATA[ffff]]></Value>
    </zipPostcode>
  </Properties>
</Content>